@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:700,300,400);
body {
	font-family: 'Lato', sans-serif;
}
.container {
	width: 1200px;
}
.divider {
	border-top: 1px solid #eeeeee;
}
.padding-block-medium {
	padding-top: 3%;
	padding-bottom: 3%;
}
.padding-block-sides-midium {
	padding-left: 7%;
	padding-right: 7%;
}
.home-navbar {
	.top-nav-collapse {
		display: none;
	}
	.navbar {
		padding-top: 10px;
	}
}
.front-header {
	background-image: url(../img/front-header.jpg);
	background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    padding-bottom: 15%;
    @media (max-width: 1169px) { 
    	background-image: url(../img/front-header-mobile.jpg);
    	background-size: contain;
        padding-bottom: 81%;
    }
    .logo {
    	left: 30px;
    	position: relative;
    	top: 5px;
    	img {
    		position: absolute;
    	}
    }
    .btn-white {
    	border: 1px solid #dddddd;
        color: #3f4d65;
        background-color: #ffffff;
        @include border-radius(6px);
        margin-right: 30px;
        font-weight: 700;
        &:hover {
        	background-color: #276ef2;
        	border-color: #276ef2;
        	color: white;
        }
    }
    .btn {
    	box-shadow: none;
    	text-transform: none;
    }
    .z-depth-1 {
    	box-shadow: none;
    }
    .top-nav-collapse {
    	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    	background-color: white;
    	@media (max-width: 1169px) { 
    		padding-top: 10px;
    	}
    	.logo {
    		img {
    			width: 43px;
    			height: 51px;
    		}
    		.show-when-collapse {
    			display: inline-block !important;
    		}
    	}
    }
    .front-header__slogan {
		color: white;
		font-weight: 700;
		padding-top: 12%;
		margin-top: 0;
		font-size: 3.56rem;
	    @media (max-width: 1169px) { 
	        top: 32%;
            position: absolute;
            margin: 0;
            padding: 0;
            left: 5%;
            right: 5%;
            font-size: 2.18rem;
        }
    }
    .front-header__search {
    	background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.5em;
        margin-top: 50px;
        max-width: 1170px;
        @media (max-width: 1169px) { 
	        @include border-radius(0px);
	        position: absolute;
	        width: 100%;
	        bottom: 0;
	    }
        .front-header__search-input-box {
        	overflow: hidden;
        	@include border-radius(3px);
        	@media (max-width: 1169px) {
        		font-size: 45%;
        	}
        	.areaName {
                background-color: white;
                @include border-radius(3px);
                padding-left: 15px;
                width: 98%;
                @media (max-width: 1169px) {
                	width: 95%;
                	font-size: medium;
                }

        	}
        	input {
                font-size: 2rem;
                height: 66px;
                margin-bottom: 3rem;
                @media (max-width: 1169px) { 
                	margin-bottom: 2rem;
                	height: 43px;
                }
        	}
        	.btn-default {
        		background-color: #4abbab;
                color: #ffffff;
                margin: 0;
                position: absolute;
                @include border-right-radius(3px);
                @include border-top-left-radius(0);
                @include border-bottom-left-radius(0);
                font-weight: 700;
                position: absolute;
			    right: 62px;
			    top: 0;
			    height: 67px;
			    @media (max-width: 1169px) {
			    	right: 34px;
			    	background-image: url(../img/search.png);
			    	background-position: center center;
                    background-repeat: no-repeat;
                    text-indent: -250px;
                    width: 15%;
                    height: 44px;
			    }
        	}
        	.input-field {
        		margin-top: 3rem;
        		position: relative;
        		padding: 0 30px;
        		padding: 0 4rem;
        		@media (max-width: 1169px) { 
                	margin-top: 2rem;
                	padding: 0 2.5rem;
                }

        	}
        }
    }
}
.logo-brand {
	margin: 40px;
	@media (max-width: 1169px) { 
		margin: 40px 7%;
	}
	ul {
		li {
			width: 15%;
            @include inline-block;
			img {
				margin: 0 auto;
				@media (max-width: 1169px) { 
					width: 78%;
				}
			}
		}
	}
}
.speedrent__footer-title {
	color: #3f4d65;
	font-weight: 700;
	@media (max-width: 1169px) { 
		font-size: 1.7rem;
	}
}
.speedrent__footer-sub-title {
	@media (max-width: 1169px) { 
		@include inline-block;
		width: 50%;
        float: left;
	}
	a {
		line-height: 33px;
	    color: #8691a5;
	    font-size: 17px;
	    font-weight: 700;
	    @media (max-width: 1169px) { 
	    	font-size: 18px;

	    }
	}
}
.speedrent__footer-text {
	font-size: 17px;
	line-height: 23px;
	@media (max-width: 1169px) { 
	    font-size: 16px;
        line-height: 21px;
    }
}
.speedrent__social-box {
	margin: 2rem 0 0.656rem 0;
	img {
		@include inline-block;
		margin: 0 20px;
		@media (max-width: 1169px) { 
		}
		margin: 0 40px 0 0;
	}
}
.copyright {
	padding: 30px 0;
    color: #949cab;
    text-align: center;
    display: block;
    @media (max-width: 1169px) { 
    	text-align: left;
    }
    a {
    	color: #3f4d65;
    	@media (max-width: 1169px) { 
    	    width: inherit;
            float: none;
        }
    }
}
