@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:700,300,400);
body {
	font-family: 'Lato', sans-serif;
}
.container {
	max-width: 1200px;
}
.divider {
	border-top: 1px solid #eeeeee;
}
.padding-block-medium {
	padding-top: 3%;
	padding-bottom: 3%;
}
.padding-block-sides-midium {
	padding-left: 7%;
	padding-right: 7%;
}
.reset-padding-l {
	padding-left: 0;
	@media (max-width: 1169px) {
		padding: 0 15px;
	}
}
.reset-padding-r {
	padding-right: 0;
	@media (max-width: 1169px) {
		padding: 0 15px;
	}
}
.reset-padding-l-mobile {
	@media (max-width: 1169px) {
		padding-left: 0;
	}
}
.reset-all-padding-mobile {
	@media (max-width: 1169px) {
		padding: 0;
	}
}
.bold-text {
	font-weight: 700;
}
.full-width {
	width: 100%;
}
.reset-all-padding {
	padding: 0;
}
.border-r-custom {
	border-right: 1px solid #dddddd;
}
.border-top-bottom-custom {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.home-navbar {
	.top-nav-collapse {
		display: none;
	}
	.navbar {
		padding-top: 10px;
	}
}
.btn-white {
	border: 1px solid #dddddd;
    color: #3f4d65;
    background-color: #ffffff;
    @include border-radius(6px);
    margin-right: 30px;
    font-weight: 700;
    &:hover {
    	background-color: #276ef2;
    	border-color: #276ef2;
    	color: white;
    }
}
.btn {
	box-shadow: none;
	text-transform: none;
}
.front-header {
	background-image: url(../img/front-header.jpg);
	background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    padding-bottom: 15%;
    @media (max-width: 1169px) { 
    	background-image: url(../img/front-header-mobile.jpg);
    	background-size: contain;
        padding-bottom: 81%;
    }
    .logo {
    	left: 30px;
    	position: relative;
    	top: 5px;
    	img {
    		position: absolute;
    	}
    }
    .z-depth-1 {
    	box-shadow: none;
    }
    .top-nav-collapse {
    	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    	background-color: white;
    	@media (max-width: 1169px) { 
    		padding-top: 10px;
    	}
    	#simple-menu {
			top: 7px;
		    left: 20px;
		}
    	.logo {
    		img {
    			width: 43px;
    			height: 51px;
    		}
    		.show-when-collapse {
    			display: inline-block !important;
    		}
    	}
    }
    .front-header__slogan {
		color: white;
		font-weight: 700;
		padding-top: 12%;
		margin-top: 0;
		font-size: 3.56rem;
	    @media (max-width: 1169px) { 
	        top: 32%;
            position: absolute;
            margin: 0;
            padding: 0;
            left: 5%;
            right: 5%;
            font-size: 2.18rem;
        }
    }
    .front-header__search {
    	background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.5em;
        margin-top: 50px;
        max-width: 1170px;
        @media (max-width: 1169px) { 
	        @include border-radius(0px);
	        position: absolute;
	        width: 100%;
	        bottom: 0;
	    }
        .front-header__search-input-box {
        	overflow: hidden;
        	@include border-radius(3px);
        	@media (max-width: 1169px) {
        		font-size: 45%;
        	}
        	.areaName {
                background-color: white;
                @include border-radius(3px);
                padding-left: 15px;
                width: 98%;
                @media (max-width: 1169px) {
                	width: 95%;
                	font-size: medium;
                }

        	}
        	input {
                font-size: 2rem;
                height: 66px;
                margin-bottom: 3rem;
                @media (max-width: 1169px) { 
                	margin-bottom: 2rem;
                	height: 43px;
                }
        	}
        	.btn-default {
        		background-color: #4abbab;
                color: #ffffff;
                margin: 0;
                position: absolute;
                @include border-right-radius(3px);
                @include border-top-left-radius(0);
                @include border-bottom-left-radius(0);
                font-weight: 700;
                position: absolute;
			    right: 62px;
			    top: 0;
			    height: 67px;
			    @media (max-width: 1169px) {
			    	right: 34px;
			    	background-image: url(../img/search.png);
			    	background-position: center center;
                    background-repeat: no-repeat;
                    text-indent: -250px;
                    width: 15%;
                    height: 44px;
			    }
        	}
        	.input-field {
        		margin-top: 3rem;
        		position: relative;
        		padding: 0 30px;
        		padding: 0 4rem;
        		@media (max-width: 1169px) { 
                	margin-top: 2rem;
                	padding: 0 2.5rem;
                }

        	}
        }
    }
}
.logo-brand {
	margin: 40px;
	@media (max-width: 1169px) { 
		margin: 40px 7%;
	}
	ul {
		li {
			width: 15%;
            @include inline-block;
			img {
				margin: 0 auto;
				@media (max-width: 1169px) { 
					width: 78%;
				}
			}
		}
	}
}
.speedrent__footer-title {
	color: #3f4d65;
	font-weight: 700;
	@media (max-width: 1169px) { 
		font-size: 1.7rem;
	}
}
.speedrent__footer-sub-title {
	@media (max-width: 1169px) { 
		@include inline-block;
		width: 50%;
        float: left;
	}
	a {
		line-height: 33px;
	    color: #8691a5;
	    font-size: 17px;
	    font-weight: 700;
	    @media (max-width: 1169px) { 
	    	font-size: 18px;

	    }
	}
}
.speedrent__footer-text {
	font-size: 17px;
	line-height: 23px;
	@media (max-width: 1169px) { 
	    font-size: 16px;
        line-height: 21px;
    }
}
.speedrent__social-box {
	margin: 2rem 0 0.656rem 0;
	img {
		@include inline-block;
		margin: 0 20px;
		@media (max-width: 1169px) { 
		}
		margin: 0 40px 0 0;
	}
}
.copyright {
	padding: 30px 0;
    color: #949cab;
    text-align: center;
    display: block;
    @media (max-width: 1169px) { 
    	text-align: left;
    }
    a {
    	color: #3f4d65;
    	@media (max-width: 1169px) { 
    	    width: inherit;
            float: none;
        }
    }
}
.checkbox-wrap {
	position: relative;
	height: 60px;
	float: left;
	width: 50%;
	margin-bottom: 20px;
	img {
		position: absolute;
		left: 39px;
        top: 0;
	}
	.high-rise {
		top: -7px;
	}
	label {
		span {
			position: absolute;
            left: 36px;
            top: 35px;
		}
	}
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding: 0 80px;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:checked + label:after {
  content: '✓';
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 18px;
  line-height: 0.8;
  color: white;
  transition: all .2s;
  background-color: #3b99fc;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  padding: 2px;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  &:active {
  	background-color: #3b99fc;
  }
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}
// LISTING
.navbar-brand {
	margin-left: 0 !important;
	img {
		width: 38%;
	}
}
.navbar {
	.navbar-toggle {
		float: left;
	}
} 
.navbar-header {
	width: 100%;
}
// sb-search
.sb-search {
	position: relative;
	width: 0%;
	min-width: 49px;
    height: 49px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 49px;
	margin: 0;
	z-index: 10;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
	text-indent: 50px;
	&::-webkit-input-placeholder {
		color: #b2b2b2;
	}
	&:-moz-placeholder {
		color: #b2b2b2;
	}
	&::-moz-placeholder {
		color: #b2b2b2;
	}
	&:-ms-input-placeholder {
		color: #b2b2b2;
	}
}
input[type="search"].sb-search-input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}
.sb-icon-search {
	width: 49px;
	height: 49px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	color: #dddddd;
	background: white;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.sb-icon-close {
    width: 49px;
	height: 49px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	color: #3f4d65;
	background: white;
	z-index: 80;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.sb-search-submit {
	width: 49px;
	height: 49px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
	background: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-search.sb-search-open {
	width: 100%;
	.sb-icon-search {
		background: white;
		color: #dddddd;
		z-index: 11;
	}
	.sb-search-submit {
		z-index: 90;
	}
}
.no-js {
	.sb-search {
		width: 100%;
		.sb-icon-search {
			background: #da6d0d;
			color: #fff;
			z-index: 11;
		}
		.sb-search-submit {
			z-index: 90;
		}
	}
}
// sb-search

//MODAL
.modal {
	display: none;
}
.modal-header {
	.close {
		.close-icon {
			color: #3f4d65;
            margin-top: 4px;
		}
	}
}
.modal-body {
	padding: 0;
}
.modal-dialog {
	margin: 0;
}
.modal-content {
	height: 100%;
}
.modal-title {
	margin: 0 !important;
	padding: 0;
	font-size: 20px;
	span {
		color: #8d8d8d;
		font-size: 17px;
	}
}
//MODAL

//filter
.arr-left {
   background: url("../img/left-select-left.png") 0 0 no-repeat;
   background-size: contain;
    width: 20px;
    height: 34px;
   padding-bottom: 10%;
   position: absolute;
   left: 0;
   top: 14px;
}
.arr-right {
	background: url("../img/left-select-right.png") 0 0 no-repeat;
    background-size: contain;
    width: 20px;
    height: 34px;
    padding-bottom: 10%;
    position: absolute;
    right: 0;
    top: 14px;
}
.filter-selects-item-box {
	height: 56px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	.filter-select-item {
		display: block;
		font-size: 16px;
		color: #333333;
		.select-item-text {
			line-height: 56px;
			padding-left: 60px;
			margin-left: 50px;

		}
		.bedroom-icon {
			background-image: url("../img/left-bedroom.png");
			background-repeat: no-repeat;
            background-position: 9px 10px;
		}
		.parking-icon {
			background-image: url("../img/left-parking-space.png");
			background-repeat: no-repeat;
            background-position: 0 10px;
		}
		.furnishing-icon {
			background-image: url("../img/left-furnishing.png");
			background-repeat: no-repeat;
            background-position: 0 17px;
		}
	}
}
.side-block {
	padding: 20px;
	background-color: #f2f2f2;
	.is_stuck {
		position: fixed;
		top: 80px; 
	}
	.side__filter-title {
		color: #b3b9be;
        font-weight: 700;
	}
	
    .select-item-text {
    	overflow: hidden;
    }
    .filter-price-range {
    	.min-price, .max-price {
    		font-size: 1.25em;
            display: inline-flex;
            .amount {
            	margin-left: 5px;
            }
    	}
    	.ui-slider {
		    background-color: #d2d2d2;
		    height: 3px;
		    .ui-slider-handle {
		    	background: #ffffff;
                border: 1px solid #bababa;
                box-shadow: 0 1px 3px #ddd;
			    float: left;
			    width: 28px;
			    height: 28px;
			    border-radius: 20px;
			    margin-top: -10px;
			    margin-left: -14px;
			    outline: none;
			    position: absolute;
			}
        }
        .ui-slider-range {
        	position: absolute;
		    background-color: #4abaaa;
		    height: inherit;
		    border: 0;
        }
        .range-box {
            margin: 7% 2% 10% 2%;
        }
    }
}
.filter-selects {
	.reset-filters {
		background: #ffffff;
	    border: 2px solid #d9d9d9;
	    border-radius: 6px;
	    color: #333333;
	    display: block;
	    margin: 0;
	}
	.btn {
		@include box-shadow(0 0 0 0 );
	}
}
//filter
//sidenav mobile
#simple-menu {
	top: 7px;
    left: 20px;
    font-size: 25px;
    color: #3f4d65;
    position: absolute;
}
.sidr {
	background: white !important;
    color: #8691a5 !important;
    box-shadow: none !important;
    .logo {
    	position: relative !important;
    	height: 50px !important;
    	left: 0 !important;
    	#sidr-close {
			top: 4px;
            right: 20px;
		    font-size: 25px;
		    color: #3f4d65;
		    position: absolute;
		}
    	.logo-mobile-menu {
    		height: 50px !important;
    		line-height: 50px !important;
    		position: absolute;
    		.logo-mobile-menu-img {
    			width: 60% !important;
    		}
    	}
    }
	ul {
		li {
			display: block !important;
			border: none !important;
			a {
                line-height: 33px !important;
				color: #8691a5 !important;
				font-size: 17px !important;
				font-weight: 700 !important;
				padding: 8px 15px !important;
			}
		}
		.speedrent__footer-sub-title {
			width: 100%;
			padding: 10px 0;
			cursor: pointer;
		}
	}
	.speedrent__social-box {
			padding: 0 15px !important;
		}
}
//sidenav mobile

.listing-page {
	overflow: hidden;
	.navbar-fixed-top {
		.navbar-brand {
			background-color: #3f4d65;
		}
        display: none;
        @media (max-width: 1169px) {
        	display: block;
        	background-color: white;
        	height: 50px;
        	padding: 0 !important;
        }
        .logo {
        	top: -17px;
	        @media (max-width: 1169px) { 
			    position: absolute;
	            left: 45%;
	        }
	        a {
	        	img {
	        		@media (max-width: 1169px) {
	        			width: 38%;
	        		}
	        	}
	        }
	    }
	    .search-icon {
            right: 21%;
            top: 26%;
            position: absolute;
	    }
	    .close-icon {
	    	position: absolute;
            right: 21%;
            top: 26%;
	    }
	}
	.top-nav-collapse {
		height: 80px;
        line-height: 80px;
		display: block;
    	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    	background-color: white;
    	@media (max-width: 1169px) {
    		height: 50px;
    	}
    	#simple-menu {
    	    top: -15px;
            left: 20px;
        }
        .show-when-collapse {
        	@media (max-width: 1169px) { 
        		margin-left: 0;
        	}
        }
        .search-icon {
    		color: #b3b9be;
    		position: absolute;
    		right: 21%;
            top: 29%;
    		&.active {
    			color: #3b99fc;
    		}
    	}
    	.logo {
    		top: -17px;
		    @media (max-width: 1169px) { 
		        position: absolute;
                left: 45%;
            }
    		img {
    			@media (max-width: 1169px) { 
    				padding-left: 0;
    			}
    		}
    		.show-when-collapse {
    			display: inline-block !important;
    		}
    	}
    	.btn-white {
    		margin: 20px 10px 20px 0;
    	}
    }
	.logo {
		height: 80px;
		display: inline-block;
		a {
			line-height: 80px;
			height: 80px;
            img {
				width: 60%;
				vertical-align: middle;
				max-height: 80px;
				display: inline-block;
				margin-left: 20px;
		    }
		}
	}
	.speedrent__social-box {
		margin: 0;
	}
	.navbar-header {
	    width: 100%;
	    padding: 10px 0;
    }
    .search-box {
    	height: 80px;
    	.search-icon {
    		color: #b3b9be;
    		&.active {
    			color: #3b99fc;
    		}
    	}
    	.material-icons.prefix {
    		top: 11px;
    	}
    	.input-field {
    		label {
                &.active {
    			color: #3b99fc;
    		    }
    		}
    	}
    	#icon_prefix {
    		border-bottom: none;
    	}
    }
    .speedrent__social-box {
    	line-height: 80px;
    	img {
    		height: 35px;
    		vertical-align: middle;
			max-height: 80px;
			display: inline-block;
    	}
    }
    .listing-content-block {
    	background-color: #f9f9f9;
    	padding: 20px;
    	@media (max-width: 1169px) { 
    	    margin-top: 40px;
    	    padding: 40px 0 20px 0;
    	}
    	h6 {
    		margin-bottom: 30px;
    		font-weight: 700;
    		@media (max-width: 1169px) { 
    			padding-left: 20px;
    		}
    		span {
    		    font-weight: 300;
    	    }
    	}
    	.filter {
    		position: fixed;
		    z-index: 1;
		    right: 12px;
            bottom: 3px;
		    background-color: #fcdd32;
		    img {
		    	width: 70px;
		    	height: 70px;
		    }
    	}
    	.card {
    		cursor: pointer;
    	}
    	.card-image {
    		position: relative;
    		.label-distance {
    			position: absolute;
    			left: 0;
    			top:44px;
    			background-color: #fa4a84;
    			z-index: 1;
    			font-size: 14px;
    		}
    	}
    	.card-title {
    		width: 100% !important;
    		.hot-deal {
    			position: relative;
    			font-size: 12px;
                font-weight: 700;
                background-color: #8a2ffb;
    			padding-left: 32px;
                &:before {
    				background-image: url("../img/card-label-new.png");
    				background-repeat: no-repeat;
    				background-position: 0 0;
    				height: 14px;
    				width: 14px;
    				display: block;
    				content: '';
    				position: absolute;
    				left: 10px;
                    top: 3px;
    			}
    		}
    	}
    	.card-content {
    		.card-price {
                font-weight: 700;
    		}
    		.card-price-info {
    			color: #fa4a84;
    			font-weight: 400;
    		}
    		.card-price-description {
    			margin-bottom: 0;
    			li {
    				@include inline-block;
    				color: #5d5d5d;
    			}
    			img {
    				height: 20px;
    			}
    		}
            .card-included-content {
			    @include inline-block; 
			    padding: 18px 0;
			    li {
                    margin-right: 10px;
                    img {
                    	margin-left: 10px;
                    }
                }
		    }
    	}
    }
    .speedrent__footer-sub-title {
    	@include inline-block; 
    	margin-right: 9%;
    }
    .listing-footer {
    	padding-left: 2%;
    	padding-right: 2%;
    }
}
//LISTING SINGLE
.listing-page-single {
	.speedrent__social-box {
		display: inline-block;
		float: right;
	}
	.listing-content-block {
		padding: 0 20px 2px 0;
		.card {
			margin-bottom: 0;
			box-shadow: none;
			margin-top: 0;
			.card-content {
				.card-price {
					text-decoration: line-through;
				}
				.card-included-content {
					li {
						line-height: 30px;
						margin-right: 40px;
						img {
							margin: 0 10px 0 0 ;
						}
					}
				}
			}
		}
		.card-details {
				padding: 0 20px;
				background-color: #f5f5f5;
				h6 {
					color: #a0a0a0;
					font-weight: 300;
					font-size: 20px;
					margin-top: 0;
					padding-top: 10px;
					@media (max-width: 1169px) { 
						padding-left: 0;
						margin: 10px 0;
					}
				}
				p {
					color: #383836;
					font-size: 15px;
				}
				.divider {
					border-color: #cfcfcf;
				}
			}
	}
	.search-box-list-single {
		a {
			color: #3f4d65;
		    font-weight: 700;
		    line-height: 80px;
		    margin: 0;
		    padding-left: 20px;
		}
	}
	.furnishing-block {
		label {
			font-weight: 300;
			margin-left: 20px;
			font-size: 14px;
			@media (max-width: 1169px) {
				font-size: 12px;
			}
		}
			/* Base for label styling */
		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked {
		  position: absolute;
		  left: -9999px;
		}
		[type="checkbox"]:not(:checked) + label,
		[type="checkbox"]:checked + label {
		  position: relative;
		  padding-left: 40px;
		  cursor: pointer;
		  line-height: 30px;
		  @media (max-width: 1169px) {
		      margin-left: 0;
		  }
		}
		/* checkbox aspect */
		[type="checkbox"]:not(:checked) + label:before {
		  content: '✓';
		  position: absolute;
		  left: 0;
	      top: 4px;
		  font-size: 18px;
		  line-height: 0.8;
		  color: white;
		  transition: all .2s;
		  background-color: #e9e9e9;
		  width: 25px;
          height: 25px;
          border-radius: 15px;
		  padding: 5px;
		}
		/* checked mark aspect */
		[type="checkbox"]:checked + label:after {
		  content: '✓';
		  position: absolute;
		  left: 0;
	      top: 4px;
		  font-size: 18px;
		  line-height: 0.8;
		  color: white;
		  transition: all .2s;
		  background-color: #36AD9A;
		   width: 25px;
          height: 25px;
          border-radius: 15px;
		  padding: 5px;
		}
		/* checked mark aspect changes */
		[type="checkbox"]:not(:checked) + label:after {
		  opacity: 0;
		  transform: scale(0);
		}
		[type="checkbox"]:checked + label:after {
		  opacity: 1;
		  transform: scale(1);
		}
		/* accessibility */
		[type="checkbox"]:checked:focus + label:before,
		[type="checkbox"]:not(:checked):focus + label:before {
		  &:active {
		  	background-color: #3b99fc;
		  }
		}

		/* hover style just for information */
		label:hover:before {
		  border: 1px solid #e9e9e9 !important;
		}
	}
	.map {
		background-color: white;
		margin-bottom: 3px;
		h5 {
			padding: 20px;
			color: #a0a0a0;
			margin-top: 0;
		}
		iframe {
			width: 100%;
		    height: 200px;
		    border: none;
		}
		.report {
		    color: #f8b13f;
		    padding: 20px;
		    display: block;
            font-size: 17px;
		}
	}
	.listing-single-side-form {
        p {
        	color: #8d8d8d;
        	font-size: 14px;
        }
        input {
        	border: 1px solid #ccc;
        	@include border-radius(4px);
        	height: 34px;
        	background-color: white;
        	margin: 10px 0 20px 0;
        	padding-left: 10px;
            box-sizing: border-box;
        }
        input[type=text]:focus:not([readonly]) {
        	border: 1px solid #4285F4;
        }
        label {
        	left: 0;
        	font-size: 13px;
        	font-weight: 400;
        }
        .tenant-select {
        	margin: 10px 0;
        	height: 36px;
        }
        .tenant-label {
            position: absolute;
            top: -14px;
        }
        select {
        	margin-bottom: 30px;
        }
        .choice-offer {
        	margin: 10px 0;
        	label {
        		padding: 0 32px;
        	}
        }
        .btn-yellow {
        	background-color: #fddf00;
        	color: #333333;
        	font-weight: 700;
        	line-height: 40px;
        	font-size: 18px;
        	margin-left: 0;
        	margin-right: 0;
        }
        .submit {
        	margin: 31px 0 0 0;
            line-height: 27px;
        }
	}
	.chat-btn {
		img {
		width: 30px !important;
	    height: 30px !important;
	    left: 13px;
	    position: absolute;
	    top: 14px;
	    }
	}
}

//post
.post {
	.navbar {
        height: 80px;
        background-color: white;
        @media (max-width: 1169px) { 
        	height: 50px;
        }
        .logo-desktop {
        	width: 16%;
        	margin-left: 20px;
        }
        .logo-mobile  {
        	position: absolute;
            left: 41%;
            height: 50px;
            display: inline-block; 
            top: 3px;
            img {
            	width: 38%;
                margin-left: 20px;
            }
        }
        .speedrent__social-box {
        	position: absolute;
		    margin: 10px 0;
		    right: 0;
		    top: 2px;
        	img {
        		height: 35px;
        	}
        }
        .back-btn {
        	line-height: 50px;
        	color: #4fbaab;
        	margin-left: 20px;
        	font-weight: 700;
        }
    }
    .navbar-fixed-top {
    	box-shadow: none;
    }
    .top-nav-collapse {
    	.back-btn {
        	line-height: 28px;
        	color: #4fbaab;
        	margin-left: 20px;
        	font-weight: 700;
        }
    	padding: 10px 0;
    	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}
.post-steps {
	background-color: #f9f9f9;
	margin-top: 80px;
	@media (max-width: 1169px) {
		margin-top: 50px;
	}
    .input-field {
    	label {
            top: -18px;
    	}
    }
	.container {
		@media (max-width: 1169px) { 
			padding: 0;
		}
	}
	.steps {
		margin-top: 10px;
		padding: 0 5px;
		ul {
			border: 1px solid #d8d8d8;
            overflow: hidden;
            list-style: none;
            margin: 0 auto;
            border-radius: 10px;
            height: 66px;
            background-color: white;
			li {
				float: left;
				width: 33.3% !important;
				text-align: center;
				border-width: 0;
				border-radius: 0;
				a {
					color: white;
					text-decoration: none; 
					padding: 1em 1.5em; 
					position: relative; 
					display: block;
					float: left;
					height: 66px;
					margin: 0;
					width: 100%;
					border-width: 0;
					border-radius: 0;
					color: #3f4d65;
					text-transform: uppercase;
					outline: none;
					&:after {
						content: " "; 
						display: block; 
						width: 0; 
						height: 0;
						border-top: 49px solid transparent;           /* Go big on the size, and let overflow hide */
						border-bottom: 49px solid transparent;
						border-left: 31px solid #d9d9d9;
						position: absolute;
						top: 50%;
						margin-top: -49px; 
						margin-left: 2px;
						left: 100%;
						z-index: 1;
					}
					&:before {
						content: " "; 
						display: block; 
						width: 0; 
						height: 0;
						border-top: 49px solid transparent;       
						border-bottom: 49px solid transparent;
						border-left: 31px solid white;
						position: absolute;
						top: 50%;
						margin-top: -49px;
						margin-left: -1px;
						left: 100%;
						z-index: 2;
					}
				}
				&.current a:before, &.done a:before {
					content: " "; 
					display: block; 
					width: 0; 
					height: 0;
					border-top: 49px solid transparent;       
					border-bottom: 49px solid transparent;
					border-left: 31px solid #fddf00;
					position: absolute;
					top: 50%;
					margin-top: -49px; 
					left: 100%;
					z-index: 2;
				}
				&.last a:before, &.last a:after {
					display: none;
				}
				&.done a:before {
				    border-left-color: #fddf00;
				}
				&.done a:after, &.current a:after {
					border-left-color: #f2d500;
				}
			}
		}
		//colors
// $color_meteor_approx: hsla(34,85%,45%,1);
// $color_fire_bush_approx: hsla(34,85%,55%,1);
// $color_casablanca_approx: hsla(34,85%,65%,1);
// $color_chardonnay_approx: hsla(34,85%,75%,1);
// $black: black;

// ul li {
// 	&:first-child a {
// 		padding-left: 10px;
// 	}
// 	&:nth-child(2) a {
// 		background: $color_meteor_approx;
// 		&:after {
// 			border-left-color: $color_meteor_approx;
// 		}
// 	}
// 	&:nth-child(3) a {
// 		background: $color_fire_bush_approx;
// 		&:after {
// 			border-left-color: $color_fire_bush_approx;
// 		}
// 	}
// 	&:nth-child(4) a {
// 		background: $color_casablanca_approx;
// 		&:after {
// 			border-left-color: $color_casablanca_approx;
// 		}
// 	}
// 	&:nth-child(5) a {
// 		background: $color_chardonnay_approx;
// 		&:after {
// 			border-left-color: $color_chardonnay_approx;
// 		}
// 	}
// 	&:last-child a {
// 		background: transparent !important;
// 		color: $black;
// 		pointer-events: none;
// 		cursor: default;
// 	}
// }
        .current, .done {
            a {
                background: #fddf00 !important;
                .current-info {
                	display: none;
                }
            }
        }
        .disabled, .disabled.last {
        	a {
        	    background: white !important;
        	    span {
                	display: none;
                }
        	}
        }
	}
	h6 {
		color: #3f4d65;
		margin-bottom: 26px;
	    .text-md-size {
	    	font-size: 20px;
	    }
	}
	.side__filter-title {
		color: #b3b9be;
		font-weight: 700;
		margin-bottom: 40px;
		@media (max-width: 1169px) {
			margin-bottom: 20px;
		}
	}
	.input-field {
		position: relative;
		label {
			color: #8d8d8d;
			font-size: 14px;
            padding-left: 5px;
            font-weight: 400;
		}
		span {
			position: absolute;
			right: 25px;
		    color: #333333;
		    top: 16px;
		}
	}
	input {
    	border: 1px solid #ccc;
    	@include border-radius(4px);
    	height: 34px;
    	background-color: white;
    	margin: 10px 0 20px 0;
    	padding-left: 10px;
        box-sizing: border-box;
    }
    input[type=text]:focus:not([readonly]) {
    	border: 1px solid #4285F4;
    }
    .discount {
    	background-color: #fae2ee;
    	color: #3e4d65;
    	padding: 20px;
    	margin-top: 40px;
    	p {
    		font-weight: 400;
    		line-height: 26px;
    		margin-bottom: 0;
    	}
    	a {
    		text-transform: uppercase;
    		color: #ff1a8b;
    		font-weight: 700;
		    display: block;
		    text-decoration: underline;
    	}
    }
    .steps-filter-selects {
    	background-color: white;
    	border: 1px solid #eeeeee;
    	padding: 20px;
    }
    .prev, .next, .submit {
    	line-height: 40px;
    	color: #333333;
    	font-weight: 700;
    	font-size: 20px;
    	@include border-radius(3px);
    	padding: 10px 100px;
    	border: none;
    }
    .next, .submit {
    	background-color: #fddf00;
    }
    .prev {
    	background-color: white;
    	border: 1px solid #d9d9d9;
    }
    .easyWizardButtons {
    	margin-bottom: 20px;
    	@media (max-width: 1169px) {
    		display: inline-block;
    	}
    }
}
.listing-footer {
	padding-left: 2%;
	padding-right: 2%;
}
#steps-basic {
    .body {
        position: relative;
        @media (max-width: 1169px) {
        	width: 100% !important;
        }
    }
    .content {
    	background-color: transparent;
    	@media (max-width: 1169px) {
    		margin: 0;
    	}
    }
    .steps {
    	display: none;
    	@media (max-width: 1169px) {
    		display: block;
    	}
    }
    .upload-files {
    	.upload-item {
    		margin: 0 4% 4% 0;
    		background-color: white;
    		padding: 10px;
    		display: inline-block;
    		cursor: pointer;
    		@media (max-width: 1169px) {
    		    margin: 2%;
                padding: 3%;
    		}
    		input {
    			display: none;
    		}
    		img {
    			width: 85%;
    			// @media (max-width: 1169px) {
    			// 	width: 50%;
    			// }
    		}
    		label {
    			text-align: center;
                padding: 10px;
                @media (max-width: 1169px) {
                	padding: 10%;
                }
                i {
                	font-size: 20px;
                }
    		}
    	}
    }
    .photo-guide-box {
    	text-align: center;
    	padding-top: 9%;
    	overflow: hidden;
    	@media (max-width: 1169px) {
    		padding-top: 0;
    	}
    	h5, p {
    		font-weight: 400;
    		color: #8d8d8d;
    	}
    	p {
    		font-size: medium;
    		@media (max-width: 1169px) {
    			font-size: small;
    			line-height: normal;
    			margin-top: 10px;
    		}
    	}
    	ul {
    		li {
		    	@media (max-width: 1169px) {
		    		width: 33.3%;
		    		float: left;
		    	}
    			img {
    				width: 12%;
    				@media (max-width: 1169px) {
                        width: 23%;
                    }
    			}
    		}
    	}
    }
    .extra-info {
        .label-benefit {
    	    background-color: #8a2ffb;
    	    margin-left: 10px;
    	    font-size: 13px;
        }
        .checkbox-wrap {
            label {
                span {
                	left: 36px;
                    top: 4px;
                    font-size: 15px;
                    color: black;
                    font-weight: 400;
                }
            }
        }
        .extra-info-select {
        	top: -15px;
        }
        .form-control {
        	margin-top: 11px;
        }
        .guarantee {
        	background-color: #eee4f9;
        	padding: 20px;
        	overflow: hidden;
        	margin-bottom: 10px;
        	h6 {
        		margin-bottom: 6px;
        		span {
        			margin-right: 10px;
        		}
        	}
        	.learn-more {
        		color: #8a2ffb;
        	}
        }
        .sub-title {
        	font-size: 15px;
        	color: #8d8d8d;
        }
        .furnishing-block {
        	h6 {
        		color: #8d8d8d;
        	}
			label {
				font-weight: 300;
				font-size: 14px;
				margin-left: 15px;
				@media (max-width: 1169px) {
					font-size: 12px;
				}
			}
				/* Base for label styling */
			[type="checkbox"]:not(:checked),
			[type="checkbox"]:checked {
			  position: absolute;
			  left: -9999px;
			}
			[type="checkbox"]:not(:checked) + label,
			[type="checkbox"]:checked + label {
			  position: relative;
			  padding: 0 0 0 40px;
			  cursor: pointer;
			  line-height: 30px;
			  @media (max-width: 1169px) {
			      margin-left: 0;
			  }
			}
			/* checkbox aspect */
			[type="checkbox"]:not(:checked) + label:before {
			  content: '✓';
			  position: absolute;
			  left: 0;
		      top: 4px;
			  font-size: 18px;
			  line-height: 0.8;
			  color: white;
			  transition: all .2s;
			  background-color: #e9e9e9;
			  border: 1px solid #e9e9e9;
			  width: 25px;
	          height: 25px;
	          border-radius: 15px;
			  padding: 5px;
			}
			/* checked mark aspect */
			[type="checkbox"]:checked + label:after {
			  content: '✓';
			  position: absolute;
			  left: 0;
		      top: 4px;
			  font-size: 18px;
			  line-height: 0.8;
			  color: white;
			  transition: all .2s;
			  background-color: #36AD9A;
			   width: 25px;
	          height: 25px;
	          border-radius: 15px;
			  padding: 5px;
			}
			/* checked mark aspect changes */
			[type="checkbox"]:not(:checked) + label:after {
			  opacity: 0;
			  transform: scale(0);
			}
			[type="checkbox"]:checked + label:after {
			  opacity: 1;
			  transform: scale(1);
			}
			/* accessibility */
			[type="checkbox"]:checked:focus + label:before,
			[type="checkbox"]:not(:checked):focus + label:before {
			  &:active {
			  	background-color: #3b99fc;
			  }
			}

			/* hover style just for information */
			label:hover:before {
			  border: 1px solid #e9e9e9 !important;
			}
		}
    }
}
//post






