// post thank you
#post-thank-you {
    background-color: #f9f9f9;
}
.post-thank-you {
	.empty-header {
		height: 90px;
		background-color: white;
		margin-bottom: 50px;
		@media (max-width: 1169px) {
			height: 70px;
		}
	}
	.divider {
		border-top: 1px solid #dddddd;
	    width: 50%;
	    margin: 0 auto;
	}
	h1 {
		color: #4abbab;
		font-weight: 400;
	}
	h4 {
		color: #8d8d8d;
	}
	.btn-facebook {
		background-color: #3a5ba2;
		color: white;
		text-transform: uppercase;
		padding: 5px 60px;
		@include border-radius(3px);
		.fa-facebook {
			margin-right: 5px;
		}
	}
	ul {
		overflow: hidden;
		li {
			display: inline-block;
			float: left;
			width: 50%;
			text-align: center;
			padding: 0 20px;
		}
	}
}

// post thank you