@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:700,300,400);
/* line 3, ../sass/main.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 6, ../sass/main.scss */
.container {
  width: 1200px;
}

/* line 9, ../sass/main.scss */
.divider {
  border-top: 1px solid #eeeeee;
}

/* line 12, ../sass/main.scss */
.padding-block-medium {
  padding-top: 3%;
  padding-bottom: 3%;
}

/* line 16, ../sass/main.scss */
.padding-block-sides-midium {
  padding-left: 7%;
  padding-right: 7%;
}

/* line 20, ../sass/main.scss */
.reset-padding-l {
  padding-left: 0;
}

/* line 23, ../sass/main.scss */
.reset-padding-r {
  padding-right: 0;
}

/* line 26, ../sass/main.scss */
.reset-all-padding {
  padding: 0;
}

/* line 29, ../sass/main.scss */
.border-r-custom {
  border-right: 1px solid #dddddd;
}

/* line 32, ../sass/main.scss */
.border-top-bottom-custom {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

/* line 37, ../sass/main.scss */
.home-navbar .top-nav-collapse {
  display: none;
}
/* line 40, ../sass/main.scss */
.home-navbar .navbar {
  padding-top: 10px;
}

/* line 44, ../sass/main.scss */
.btn-white {
  border: 1px solid #dddddd;
  color: #3f4d65;
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-right: 30px;
  font-weight: 700;
}
/* line 51, ../sass/main.scss */
.btn-white:hover {
  background-color: #276ef2;
  border-color: #276ef2;
  color: white;
}

/* line 57, ../sass/main.scss */
.btn {
  box-shadow: none;
  text-transform: none;
}

/* line 61, ../sass/main.scss */
.front-header {
  background-image: url(../img/front-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  padding-bottom: 15%;
}
@media (max-width: 1169px) {
  /* line 61, ../sass/main.scss */
  .front-header {
    background-image: url(../img/front-header-mobile.jpg);
    background-size: contain;
    padding-bottom: 81%;
  }
}
/* line 73, ../sass/main.scss */
.front-header .logo {
  left: 30px;
  position: relative;
  top: 5px;
}
/* line 77, ../sass/main.scss */
.front-header .logo img {
  position: absolute;
}
/* line 81, ../sass/main.scss */
.front-header .z-depth-1 {
  box-shadow: none;
}
/* line 84, ../sass/main.scss */
.front-header .top-nav-collapse {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}
@media (max-width: 1169px) {
  /* line 84, ../sass/main.scss */
  .front-header .top-nav-collapse {
    padding-top: 10px;
  }
}
/* line 91, ../sass/main.scss */
.front-header .top-nav-collapse .logo img {
  width: 43px;
  height: 51px;
}
/* line 95, ../sass/main.scss */
.front-header .top-nav-collapse .logo .show-when-collapse {
  display: inline-block !important;
}
/* line 100, ../sass/main.scss */
.front-header .front-header__slogan {
  color: white;
  font-weight: 700;
  padding-top: 12%;
  margin-top: 0;
  font-size: 3.56rem;
}
@media (max-width: 1169px) {
  /* line 100, ../sass/main.scss */
  .front-header .front-header__slogan {
    top: 32%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 5%;
    right: 5%;
    font-size: 2.18rem;
  }
}
/* line 116, ../sass/main.scss */
.front-header .front-header__search {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  margin-top: 50px;
  max-width: 1170px;
}
@media (max-width: 1169px) {
  /* line 116, ../sass/main.scss */
  .front-header .front-header__search {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
/* line 127, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box {
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1169px) {
  /* line 127, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box {
    font-size: 45%;
  }
}
/* line 133, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box .areaName {
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 15px;
  width: 98%;
}
@media (max-width: 1169px) {
  /* line 133, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box .areaName {
    width: 95%;
    font-size: medium;
  }
}
/* line 144, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box input {
  font-size: 2rem;
  height: 66px;
  margin-bottom: 3rem;
}
@media (max-width: 1169px) {
  /* line 144, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box input {
    margin-bottom: 2rem;
    height: 43px;
  }
}
/* line 153, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box .btn-default {
  background-color: #4abbab;
  color: #ffffff;
  margin: 0;
  position: absolute;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 700;
  position: absolute;
  right: 62px;
  top: 0;
  height: 67px;
}
@media (max-width: 1169px) {
  /* line 153, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box .btn-default {
    right: 34px;
    background-image: url(../img/search.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -250px;
    width: 15%;
    height: 44px;
  }
}
/* line 176, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box .input-field {
  margin-top: 3rem;
  position: relative;
  padding: 0 30px;
  padding: 0 4rem;
}
@media (max-width: 1169px) {
  /* line 176, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box .input-field {
    margin-top: 2rem;
    padding: 0 2.5rem;
  }
}

/* line 190, ../sass/main.scss */
.logo-brand {
  margin: 40px;
}
@media (max-width: 1169px) {
  /* line 190, ../sass/main.scss */
  .logo-brand {
    margin: 40px 7%;
  }
}
/* line 196, ../sass/main.scss */
.logo-brand ul li {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 199, ../sass/main.scss */
.logo-brand ul li img {
  margin: 0 auto;
}
@media (max-width: 1169px) {
  /* line 199, ../sass/main.scss */
  .logo-brand ul li img {
    width: 78%;
  }
}

/* line 208, ../sass/main.scss */
.speedrent__footer-title {
  color: #3f4d65;
  font-weight: 700;
}
@media (max-width: 1169px) {
  /* line 208, ../sass/main.scss */
  .speedrent__footer-title {
    font-size: 1.7rem;
  }
}

@media (max-width: 1169px) {
  /* line 215, ../sass/main.scss */
  .speedrent__footer-sub-title {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 50%;
    float: left;
  }
}
/* line 221, ../sass/main.scss */
.speedrent__footer-sub-title a {
  line-height: 33px;
  color: #8691a5;
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 1169px) {
  /* line 221, ../sass/main.scss */
  .speedrent__footer-sub-title a {
    font-size: 18px;
  }
}

/* line 232, ../sass/main.scss */
.speedrent__footer-text {
  font-size: 17px;
  line-height: 23px;
}
@media (max-width: 1169px) {
  /* line 232, ../sass/main.scss */
  .speedrent__footer-text {
    font-size: 16px;
    line-height: 21px;
  }
}

/* line 240, ../sass/main.scss */
.speedrent__social-box {
  margin: 2rem 0 0.656rem 0;
}
/* line 242, ../sass/main.scss */
.speedrent__social-box img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 20px;
  margin: 0 40px 0 0;
}

/* line 250, ../sass/main.scss */
.copyright {
  padding: 30px 0;
  color: #949cab;
  text-align: center;
  display: block;
}
@media (max-width: 1169px) {
  /* line 250, ../sass/main.scss */
  .copyright {
    text-align: left;
  }
}
/* line 258, ../sass/main.scss */
.copyright a {
  color: #3f4d65;
}
@media (max-width: 1169px) {
  /* line 258, ../sass/main.scss */
  .copyright a {
    width: inherit;
    float: none;
  }
}

/* line 267, ../sass/main.scss */
.navbar-brand {
  margin-left: 0 !important;
}
/* line 269, ../sass/main.scss */
.navbar-brand img {
  width: 38%;
}

/* line 274, ../sass/main.scss */
.navbar .navbar-toggle {
  float: left;
}

/* line 278, ../sass/main.scss */
.navbar-header {
  width: 100%;
}

/* line 282, ../sass/main.scss */
.sb-search {
  position: relative;
  width: 0%;
  min-width: 49px;
  height: 49px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

/* line 294, ../sass/main.scss */
.sb-search-input {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 10;
  font-family: inherit;
  font-size: 20px;
  color: #2c3e50;
  text-indent: 50px;
}
/* line 310, ../sass/main.scss */
.sb-search-input::-webkit-input-placeholder {
  color: #b2b2b2;
}
/* line 313, ../sass/main.scss */
.sb-search-input:-moz-placeholder {
  color: #b2b2b2;
}
/* line 316, ../sass/main.scss */
.sb-search-input::-moz-placeholder {
  color: #b2b2b2;
}
/* line 319, ../sass/main.scss */
.sb-search-input:-ms-input-placeholder {
  color: #b2b2b2;
}

/* line 323, ../sass/main.scss */
input[type="search"].sb-search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

/* line 327, ../sass/main.scss */
.sb-icon-search {
  width: 49px;
  height: 49px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #dddddd;
  background: white;
  z-index: 90;
  font-size: 22px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 351, ../sass/main.scss */
.sb-icon-close {
  width: 49px;
  height: 49px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #dddddd;
  background: white;
  z-index: 80;
  font-size: 22px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 375, ../sass/main.scss */
.sb-search-submit {
  width: 49px;
  height: 49px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

/* line 396, ../sass/main.scss */
.sb-search.sb-search-open {
  width: 100%;
}
/* line 398, ../sass/main.scss */
.sb-search.sb-search-open .sb-icon-search {
  background: white;
  color: #dddddd;
  z-index: 11;
}
/* line 403, ../sass/main.scss */
.sb-search.sb-search-open .sb-search-submit {
  z-index: 90;
}

/* line 408, ../sass/main.scss */
.no-js .sb-search {
  width: 100%;
}
/* line 410, ../sass/main.scss */
.no-js .sb-search .sb-icon-search {
  background: #da6d0d;
  color: #fff;
  z-index: 11;
}
/* line 415, ../sass/main.scss */
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}

/* line 422, ../sass/main.scss */
.listing-page {
  overflow: hidden;
}
/* line 424, ../sass/main.scss */
.listing-page .navbar-fixed-top {
  display: none;
}
@media (max-width: 1169px) {
  /* line 424, ../sass/main.scss */
  .listing-page .navbar-fixed-top {
    display: block;
    background-color: white;
    height: 50px;
  }
}
/* line 431, ../sass/main.scss */
.listing-page .navbar-fixed-top .logo {
  top: -17px;
}
@media (max-width: 1169px) {
  /* line 431, ../sass/main.scss */
  .listing-page .navbar-fixed-top .logo {
    position: absolute;
    left: 38%;
  }
}
@media (max-width: 1169px) {
  /* line 438, ../sass/main.scss */
  .listing-page .navbar-fixed-top .logo a img {
    width: 38%;
  }
}
/* line 445, ../sass/main.scss */
.listing-page .navbar-fixed-top .search-icon {
  right: 21%;
  top: 26%;
  position: absolute;
}
/* line 450, ../sass/main.scss */
.listing-page .navbar-fixed-top .close-icon {
  position: absolute;
  right: 21%;
  top: 26%;
}
/* line 456, ../sass/main.scss */
.listing-page .top-nav-collapse {
  height: 80px;
  line-height: 80px;
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}
@media (max-width: 1169px) {
  /* line 456, ../sass/main.scss */
  .listing-page .top-nav-collapse {
    height: 50px;
  }
}
@media (max-width: 1169px) {
  /* line 465, ../sass/main.scss */
  .listing-page .top-nav-collapse .show-when-collapse {
    margin-left: 0;
  }
}
/* line 470, ../sass/main.scss */
.listing-page .top-nav-collapse .search-icon {
  color: #b3b9be;
  position: absolute;
  right: 21%;
  top: 29%;
}
/* line 475, ../sass/main.scss */
.listing-page .top-nav-collapse .search-icon.active {
  color: #3b99fc;
}
/* line 479, ../sass/main.scss */
.listing-page .top-nav-collapse .logo {
  top: -17px;
}
@media (max-width: 1169px) {
  /* line 479, ../sass/main.scss */
  .listing-page .top-nav-collapse .logo {
    position: absolute;
    left: 38%;
  }
}
@media (max-width: 1169px) {
  /* line 485, ../sass/main.scss */
  .listing-page .top-nav-collapse .logo img {
    padding-left: 0;
  }
}
/* line 490, ../sass/main.scss */
.listing-page .top-nav-collapse .logo .show-when-collapse {
  display: inline-block !important;
}
/* line 494, ../sass/main.scss */
.listing-page .top-nav-collapse .btn-white {
  margin: 20px 10px 20px 0;
}
/* line 498, ../sass/main.scss */
.listing-page .logo {
  height: 80px;
  display: inline-block;
}
/* line 501, ../sass/main.scss */
.listing-page .logo a {
  line-height: 80px;
  height: 80px;
}
/* line 504, ../sass/main.scss */
.listing-page .logo a img {
  width: 60%;
  vertical-align: middle;
  max-height: 80px;
  display: inline-block;
  margin-left: 20px;
}
/* line 513, ../sass/main.scss */
.listing-page .speedrent__social-box {
  margin: 0;
}
/* line 516, ../sass/main.scss */
.listing-page .navbar-header {
  width: 100%;
  padding: 10px 0;
}
/* line 520, ../sass/main.scss */
.listing-page .side-block {
  padding: 20px;
  background-color: #f2f2f2;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* accessibility */
  /* hover style just for information */
}
/* line 523, ../sass/main.scss */
.listing-page .side-block .is_stuck {
  position: fixed;
  top: 80px;
}
/* line 527, ../sass/main.scss */
.listing-page .side-block .side__filter-title {
  color: #b3b9be;
  font-weight: 700;
}
/* line 532, ../sass/main.scss */
.listing-page .side-block [type="checkbox"]:not(:checked),
.listing-page .side-block [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
/* line 537, ../sass/main.scss */
.listing-page .side-block [type="checkbox"]:not(:checked) + label,
.listing-page .side-block [type="checkbox"]:checked + label {
  position: relative;
  padding: 0 80px;
  cursor: pointer;
}
/* line 544, ../sass/main.scss */
.listing-page .side-block [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 556, ../sass/main.scss */
.listing-page .side-block [type="checkbox"]:checked + label:after {
  content: '✓';
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 18px;
  line-height: 0.8;
  color: white;
  transition: all .2s;
  background-color: #3b99fc;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  padding: 2px;
}
/* line 572, ../sass/main.scss */
.listing-page .side-block [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
/* line 576, ../sass/main.scss */
.listing-page .side-block [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* line 583, ../sass/main.scss */
.listing-page .side-block [type="checkbox"]:checked:focus + label:before:active,
.listing-page .side-block [type="checkbox"]:not(:checked):focus + label:before:active {
  background-color: #3b99fc;
}
/* line 589, ../sass/main.scss */
.listing-page .side-block label:hover:before {
  border: 1px solid #4778d9 !important;
}
/* line 592, ../sass/main.scss */
.listing-page .side-block .checkbox-wrap {
  position: relative;
  height: 60px;
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
/* line 598, ../sass/main.scss */
.listing-page .side-block .checkbox-wrap img {
  position: absolute;
  left: 39px;
  top: 0;
}
/* line 603, ../sass/main.scss */
.listing-page .side-block .checkbox-wrap .high-rise {
  top: -7px;
}
/* line 607, ../sass/main.scss */
.listing-page .side-block .checkbox-wrap label span {
  position: absolute;
  left: 36px;
  top: 35px;
}
/* line 614, ../sass/main.scss */
.listing-page .side-block .select-item-text {
  overflow: hidden;
}
/* line 617, ../sass/main.scss */
.listing-page .side-block .arr-left {
  background: url("../img/left-select-left.png") 0 0 no-repeat;
  background-size: contain;
  width: 20px;
  height: 34px;
  padding-bottom: 10%;
  position: absolute;
  left: 0;
  top: 14px;
}
/* line 627, ../sass/main.scss */
.listing-page .side-block .arr-right {
  background: url("../img/left-select-right.png") 0 0 no-repeat;
  background-size: contain;
  width: 20px;
  height: 34px;
  padding-bottom: 10%;
  position: absolute;
  right: 0;
  top: 14px;
}
/* line 637, ../sass/main.scss */
.listing-page .side-block .filter-selects-item-box {
  height: 56px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
/* line 642, ../sass/main.scss */
.listing-page .side-block .filter-selects-item-box .filter-select-item {
  display: block;
  font-size: 16px;
  color: #333333;
}
/* line 646, ../sass/main.scss */
.listing-page .side-block .filter-selects-item-box .filter-select-item .select-item-text {
  line-height: 56px;
  padding-left: 60px;
  margin-left: 50px;
}
/* line 652, ../sass/main.scss */
.listing-page .side-block .filter-selects-item-box .filter-select-item .bedroom-icon {
  background-image: url("../img/left-bedroom.png");
  background-repeat: no-repeat;
  background-position: 9px 10px;
}
/* line 657, ../sass/main.scss */
.listing-page .side-block .filter-selects-item-box .filter-select-item .parking-icon {
  background-image: url("../img/left-parking-space.png");
  background-repeat: no-repeat;
  background-position: 0 10px;
}
/* line 662, ../sass/main.scss */
.listing-page .side-block .filter-selects-item-box .filter-select-item .furnishing-icon {
  background-image: url("../img/left-furnishing.png");
  background-repeat: no-repeat;
  background-position: 0 17px;
}
/* line 670, ../sass/main.scss */
.listing-page .side-block .filter-price-range .min-price, .listing-page .side-block .filter-price-range .max-price {
  font-size: 1.25em;
  display: inline-flex;
}
/* line 673, ../sass/main.scss */
.listing-page .side-block .filter-price-range .min-price .amount, .listing-page .side-block .filter-price-range .max-price .amount {
  margin-left: 5px;
}
/* line 677, ../sass/main.scss */
.listing-page .side-block .filter-price-range .ui-slider {
  background-color: #d2d2d2;
  height: 3px;
}
/* line 680, ../sass/main.scss */
.listing-page .side-block .filter-price-range .ui-slider .ui-slider-handle {
  background: #ffffff;
  border: 1px solid #bababa;
  box-shadow: 0 1px 3px #ddd;
  float: left;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -14px;
  outline: none;
  position: absolute;
}
/* line 694, ../sass/main.scss */
.listing-page .side-block .filter-price-range .ui-slider-range {
  position: absolute;
  background-color: #4abaaa;
  height: inherit;
  border: 0;
}
/* line 700, ../sass/main.scss */
.listing-page .side-block .filter-price-range .range-box {
  margin: 7% 2% 10% 2%;
}
/* line 706, ../sass/main.scss */
.listing-page .filter-selects .reset-filters {
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  color: #333333;
  display: block;
  margin: 0;
}
/* line 714, ../sass/main.scss */
.listing-page .filter-selects .btn {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
/* line 718, ../sass/main.scss */
.listing-page .search-box {
  height: 80px;
}
/* line 720, ../sass/main.scss */
.listing-page .search-box .search-icon {
  color: #b3b9be;
}
/* line 722, ../sass/main.scss */
.listing-page .search-box .search-icon.active {
  color: #3b99fc;
}
/* line 726, ../sass/main.scss */
.listing-page .search-box .material-icons.prefix {
  top: 11px;
}
/* line 731, ../sass/main.scss */
.listing-page .search-box .input-field label.active {
  color: #3b99fc;
}
/* line 736, ../sass/main.scss */
.listing-page .search-box #icon_prefix {
  border-bottom: none;
}
/* line 740, ../sass/main.scss */
.listing-page .speedrent__social-box {
  line-height: 80px;
}
/* line 742, ../sass/main.scss */
.listing-page .speedrent__social-box img {
  height: 35px;
  vertical-align: middle;
  max-height: 80px;
  display: inline-block;
}
/* line 749, ../sass/main.scss */
.listing-page .listing-content-block {
  background-color: #f9f9f9;
  padding: 20px;
}
/* line 752, ../sass/main.scss */
.listing-page .listing-content-block h6 {
  margin-bottom: 30px;
  font-weight: 700;
}
/* line 755, ../sass/main.scss */
.listing-page .listing-content-block h6 span {
  font-weight: 300;
}
/* line 759, ../sass/main.scss */
.listing-page .listing-content-block .card {
  cursor: pointer;
}
/* line 762, ../sass/main.scss */
.listing-page .listing-content-block .card-image {
  position: relative;
}
/* line 764, ../sass/main.scss */
.listing-page .listing-content-block .card-image .label-distance {
  position: absolute;
  left: 0;
  top: 44px;
  background-color: #fa4a84;
  z-index: 1;
  font-size: 14px;
}
/* line 773, ../sass/main.scss */
.listing-page .listing-content-block .card-title {
  width: 100% !important;
}
/* line 775, ../sass/main.scss */
.listing-page .listing-content-block .card-title .hot-deal {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  background-color: #8a2ffb;
  padding-left: 32px;
}
/* line 781, ../sass/main.scss */
.listing-page .listing-content-block .card-title .hot-deal:before {
  background-image: url("../img/card-label-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 14px;
  width: 14px;
  display: block;
  content: '';
  position: absolute;
  left: 10px;
  top: 3px;
}
/* line 796, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price {
  font-weight: 700;
}
/* line 799, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price-info {
  color: #fa4a84;
  font-weight: 400;
}
/* line 803, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price-description {
  margin-bottom: 0;
}
/* line 805, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price-description li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #5d5d5d;
}
/* line 809, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price-description img {
  height: 20px;
}
/* line 813, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-included-content {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 18px 0;
}
/* line 816, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-included-content li {
  margin-right: 10px;
}
/* line 818, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-included-content li img {
  margin-left: 10px;
}
/* line 825, ../sass/main.scss */
.listing-page .speedrent__footer-sub-title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 9%;
}
