@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:700,300,400);
/* line 3, ../sass/main.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 6, ../sass/main.scss */
.container {
  max-width: 1200px;
}

/* line 9, ../sass/main.scss */
.divider {
  border-top: 1px solid #eeeeee;
}

/* line 12, ../sass/main.scss */
.padding-block-medium {
  padding-top: 3%;
  padding-bottom: 3%;
}

/* line 16, ../sass/main.scss */
.padding-block-sides-midium {
  padding-left: 7%;
  padding-right: 7%;
}

/* line 20, ../sass/main.scss */
.reset-padding-l {
  padding-left: 0;
}
@media (max-width: 1169px) {
  /* line 20, ../sass/main.scss */
  .reset-padding-l {
    padding: 0 15px;
  }
}

/* line 26, ../sass/main.scss */
.reset-padding-r {
  padding-right: 0;
}
@media (max-width: 1169px) {
  /* line 26, ../sass/main.scss */
  .reset-padding-r {
    padding: 0 15px;
  }
}

@media (max-width: 1169px) {
  /* line 32, ../sass/main.scss */
  .reset-padding-l-mobile {
    padding-left: 0;
  }
}

@media (max-width: 1169px) {
  /* line 37, ../sass/main.scss */
  .reset-all-padding-mobile {
    padding: 0;
  }
}

/* line 42, ../sass/main.scss */
.top-margin-small {
  margin-top: 15px;
}

/* line 45, ../sass/main.scss */
.bold-text {
  font-weight: 700;
}

/* line 48, ../sass/main.scss */
.full-width {
  width: 100%;
}

/* line 51, ../sass/main.scss */
.reset-all-padding {
  padding: 0;
}

/* line 54, ../sass/main.scss */
.border-r-custom {
  border-right: 1px solid #dddddd;
}

/* line 57, ../sass/main.scss */
.border-top-bottom-custom {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

/* line 62, ../sass/main.scss */
.home-navbar .top-nav-collapse {
  display: none;
}
/* line 65, ../sass/main.scss */
.home-navbar .navbar {
  padding-top: 10px;
}

/* line 69, ../sass/main.scss */
.btn-white {
  border: 1px solid #dddddd;
  color: #3f4d65;
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-right: 30px;
  font-weight: 700;
}
/* line 76, ../sass/main.scss */
.btn-white:hover {
  background-color: #276ef2;
  border-color: #276ef2;
  color: white;
}

/* line 82, ../sass/main.scss */
.btn {
  box-shadow: none;
  text-transform: none;
}

/* line 86, ../sass/main.scss */
.front-header {
  background-image: url(../img/front-header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  padding-bottom: 15%;
}
@media (max-width: 1169px) {
  /* line 86, ../sass/main.scss */
  .front-header {
    background-image: url(../img/front-header-mobile.jpg);
    background-size: contain;
    padding-bottom: 81%;
  }
}
/* line 98, ../sass/main.scss */
.front-header .logo {
  left: 30px;
  position: relative;
  top: 5px;
}
/* line 102, ../sass/main.scss */
.front-header .logo img {
  position: absolute;
}
/* line 106, ../sass/main.scss */
.front-header .z-depth-1 {
  box-shadow: none;
}
/* line 109, ../sass/main.scss */
.front-header .top-nav-collapse {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}
@media (max-width: 1169px) {
  /* line 109, ../sass/main.scss */
  .front-header .top-nav-collapse {
    padding-top: 10px;
  }
}
/* line 115, ../sass/main.scss */
.front-header .top-nav-collapse #simple-menu {
  top: 7px;
  left: 20px;
}
/* line 120, ../sass/main.scss */
.front-header .top-nav-collapse .logo img {
  width: 43px;
  height: 51px;
}
/* line 124, ../sass/main.scss */
.front-header .top-nav-collapse .logo .show-when-collapse {
  display: inline-block !important;
}
/* line 129, ../sass/main.scss */
.front-header .front-header__slogan {
  color: white;
  font-weight: 700;
  padding-top: 12%;
  margin-top: 0;
  font-size: 3.56rem;
}
@media (max-width: 1169px) {
  /* line 129, ../sass/main.scss */
  .front-header .front-header__slogan {
    top: 32%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 5%;
    right: 5%;
    font-size: 2.18rem;
  }
}
/* line 145, ../sass/main.scss */
.front-header .front-header__search {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  margin-top: 50px;
  max-width: 1170px;
}
@media (max-width: 1169px) {
  /* line 145, ../sass/main.scss */
  .front-header .front-header__search {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
/* line 156, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box {
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 1169px) {
  /* line 156, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box {
    font-size: 45%;
  }
}
/* line 162, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box .areaName {
  background-color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 15px;
  width: 98%;
}
@media (max-width: 1169px) {
  /* line 162, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box .areaName {
    width: 95%;
    font-size: medium;
  }
}
/* line 173, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box input {
  font-size: 2rem;
  height: 66px;
  margin-bottom: 3rem;
}
@media (max-width: 1169px) {
  /* line 173, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box input {
    margin-bottom: 2rem;
    height: 43px;
  }
}
/* line 182, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box .btn-default {
  background-color: #4abbab;
  color: #ffffff;
  margin: 0;
  position: absolute;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 700;
  position: absolute;
  right: 62px;
  top: 0;
  height: 67px;
}
@media (max-width: 1169px) {
  /* line 182, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box .btn-default {
    right: 34px;
    background-image: url(../img/search.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -250px;
    width: 15%;
    height: 44px;
  }
}
/* line 205, ../sass/main.scss */
.front-header .front-header__search .front-header__search-input-box .input-field {
  margin-top: 3rem;
  position: relative;
  padding: 0 30px;
  padding: 0 4rem;
}
@media (max-width: 1169px) {
  /* line 205, ../sass/main.scss */
  .front-header .front-header__search .front-header__search-input-box .input-field {
    margin-top: 2rem;
    padding: 0 2.5rem;
  }
}

/* line 219, ../sass/main.scss */
.logo-brand {
  margin: 40px;
}
@media (max-width: 1169px) {
  /* line 219, ../sass/main.scss */
  .logo-brand {
    margin: 40px 7%;
  }
}
/* line 225, ../sass/main.scss */
.logo-brand ul li {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 228, ../sass/main.scss */
.logo-brand ul li img {
  margin: 0 auto;
}
@media (max-width: 1169px) {
  /* line 228, ../sass/main.scss */
  .logo-brand ul li img {
    width: 78%;
  }
}

/* line 237, ../sass/main.scss */
.speedrent__footer-title {
  color: #3f4d65;
  font-weight: 700;
}
@media (max-width: 1169px) {
  /* line 237, ../sass/main.scss */
  .speedrent__footer-title {
    font-size: 1.7rem;
  }
}

@media (max-width: 1169px) {
  /* line 244, ../sass/main.scss */
  .speedrent__footer-sub-title {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 50%;
    float: left;
  }
}
/* line 250, ../sass/main.scss */
.speedrent__footer-sub-title a {
  line-height: 33px;
  color: #8691a5;
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 1169px) {
  /* line 250, ../sass/main.scss */
  .speedrent__footer-sub-title a {
    font-size: 18px;
  }
}

/* line 261, ../sass/main.scss */
.speedrent__footer-text {
  font-size: 17px;
  line-height: 23px;
}
@media (max-width: 1169px) {
  /* line 261, ../sass/main.scss */
  .speedrent__footer-text {
    font-size: 16px;
    line-height: 21px;
  }
}

/* line 269, ../sass/main.scss */
.speedrent__social-box {
  margin: 2rem 0 0.656rem 0;
}
/* line 271, ../sass/main.scss */
.speedrent__social-box img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 20px;
  margin: 0 40px 0 0;
}

/* line 279, ../sass/main.scss */
.copyright {
  padding: 30px 0;
  color: #949cab;
  text-align: center;
  display: block;
}
@media (max-width: 1169px) {
  /* line 279, ../sass/main.scss */
  .copyright {
    text-align: left;
  }
}
/* line 287, ../sass/main.scss */
.copyright a {
  color: #3f4d65;
}
@media (max-width: 1169px) {
  /* line 287, ../sass/main.scss */
  .copyright a {
    width: inherit;
    float: none;
  }
}

/* line 295, ../sass/main.scss */
.checkbox-wrap {
  position: relative;
  height: 60px;
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
/* line 301, ../sass/main.scss */
.checkbox-wrap img {
  position: absolute;
  left: 39px;
  top: 0;
}
/* line 306, ../sass/main.scss */
.checkbox-wrap .high-rise {
  top: -7px;
}
/* line 310, ../sass/main.scss */
.checkbox-wrap label span {
  position: absolute;
  left: 36px;
  top: 35px;
}

/* Base for label styling */
/* line 318, ../sass/main.scss */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* line 323, ../sass/main.scss */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding: 0 80px;
  cursor: pointer;
}

/* checkbox aspect */
/* line 330, ../sass/main.scss */
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
}

/* checked mark aspect */
/* line 341, ../sass/main.scss */
[type="checkbox"]:checked + label:after {
  content: '✓';
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 18px;
  line-height: 0.8;
  color: white;
  transition: all .2s;
  background-color: #3b99fc;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  padding: 3px;
}

/* checked mark aspect changes */
/* line 357, ../sass/main.scss */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* line 361, ../sass/main.scss */
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */
/* line 368, ../sass/main.scss */
[type="checkbox"]:checked:focus + label:before:active,
[type="checkbox"]:not(:checked):focus + label:before:active {
  background-color: #3b99fc;
}

/* hover style just for information */
/* line 374, ../sass/main.scss */
label:hover:before {
  border: 1px solid #4778d9 !important;
}

/* line 378, ../sass/main.scss */
.navbar-brand {
  margin-left: 0 !important;
}
/* line 380, ../sass/main.scss */
.navbar-brand img {
  width: 38%;
}

/* line 385, ../sass/main.scss */
.navbar .navbar-toggle {
  float: left;
}

/* line 389, ../sass/main.scss */
.navbar-header {
  width: 100%;
}

/* line 393, ../sass/main.scss */
.sb-search {
  position: relative;
  width: 0%;
  min-width: 49px;
  height: 49px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

/* line 405, ../sass/main.scss */
.sb-search-input {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 49px;
  margin: 0;
  z-index: 10;
  font-family: inherit;
  font-size: 20px;
  color: #2c3e50;
  text-indent: 50px;
}
/* line 421, ../sass/main.scss */
.sb-search-input::-webkit-input-placeholder {
  color: #b2b2b2;
}
/* line 424, ../sass/main.scss */
.sb-search-input:-moz-placeholder {
  color: #b2b2b2;
}
/* line 427, ../sass/main.scss */
.sb-search-input::-moz-placeholder {
  color: #b2b2b2;
}
/* line 430, ../sass/main.scss */
.sb-search-input:-ms-input-placeholder {
  color: #b2b2b2;
}

/* line 434, ../sass/main.scss */
input[type="search"].sb-search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

/* line 438, ../sass/main.scss */
.sb-icon-search {
  width: 49px;
  height: 49px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #dddddd;
  background: white;
  z-index: 90;
  font-size: 22px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 462, ../sass/main.scss */
.sb-icon-close {
  width: 49px;
  height: 49px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: #3f4d65;
  background: white;
  z-index: 80;
  font-size: 22px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* line 486, ../sass/main.scss */
.sb-search-submit {
  width: 49px;
  height: 49px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

/* line 507, ../sass/main.scss */
.sb-search.sb-search-open {
  width: 100%;
}
/* line 509, ../sass/main.scss */
.sb-search.sb-search-open .sb-icon-search {
  background: white;
  color: #dddddd;
  z-index: 11;
}
/* line 514, ../sass/main.scss */
.sb-search.sb-search-open .sb-search-submit {
  z-index: 90;
}

/* line 519, ../sass/main.scss */
.no-js .sb-search {
  width: 100%;
}
/* line 521, ../sass/main.scss */
.no-js .sb-search .sb-icon-search {
  background: #da6d0d;
  color: #fff;
  z-index: 11;
}
/* line 526, ../sass/main.scss */
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}

/* line 534, ../sass/main.scss */
.modal {
  display: none;
}

/* line 539, ../sass/main.scss */
.modal-header .close .close-icon {
  color: #3f4d65;
  margin-top: 4px;
}

/* line 545, ../sass/main.scss */
.modal-body {
  padding: 0;
}

/* line 548, ../sass/main.scss */
.modal-dialog {
  margin: 0 auto;
}

/* line 551, ../sass/main.scss */
.modal-content {
  height: 100%;
}

/* line 554, ../sass/main.scss */
.modal-title {
  margin: 0 !important;
  padding: 0;
  font-size: 20px;
}
/* line 558, ../sass/main.scss */
.modal-title span {
  color: #8d8d8d;
  font-size: 17px;
}

/* line 566, ../sass/main.scss */
.arr-left {
  background: url("../img/left-select-left.png") 0 0 no-repeat;
  background-size: contain;
  width: 20px;
  height: 34px;
  padding-bottom: 10%;
  position: absolute;
  left: 0;
  top: 14px;
}

/* line 576, ../sass/main.scss */
.arr-right {
  background: url("../img/left-select-right.png") 0 0 no-repeat;
  background-size: contain;
  width: 20px;
  height: 34px;
  padding-bottom: 10%;
  position: absolute;
  right: 0;
  top: 14px;
}

/* line 586, ../sass/main.scss */
.filter-selects-item-box {
  height: 56px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
/* line 591, ../sass/main.scss */
.filter-selects-item-box .filter-select-item {
  display: block;
  font-size: 16px;
  color: #333333;
}
/* line 595, ../sass/main.scss */
.filter-selects-item-box .filter-select-item .select-item-text {
  line-height: 56px;
  padding-left: 60px;
  margin-left: 50px;
}
/* line 601, ../sass/main.scss */
.filter-selects-item-box .filter-select-item .bedroom-icon {
  background-image: url("../img/left-bedroom.png");
  background-repeat: no-repeat;
  background-position: 9px 10px;
}
/* line 606, ../sass/main.scss */
.filter-selects-item-box .filter-select-item .parking-icon {
  background-image: url("../img/left-parking-space.png");
  background-repeat: no-repeat;
  background-position: 0 10px;
}
/* line 611, ../sass/main.scss */
.filter-selects-item-box .filter-select-item .furnishing-icon {
  background-image: url("../img/left-furnishing.png");
  background-repeat: no-repeat;
  background-position: 0 17px;
}

/* line 618, ../sass/main.scss */
.side-block {
  padding: 20px;
  background-color: #f2f2f2;
}
/* line 621, ../sass/main.scss */
.side-block .is_stuck {
  position: fixed;
  top: 80px;
}
/* line 625, ../sass/main.scss */
.side-block .side__filter-title {
  color: #b3b9be;
  font-weight: 700;
}
/* line 630, ../sass/main.scss */
.side-block .select-item-text {
  overflow: hidden;
}
/* line 634, ../sass/main.scss */
.side-block .filter-price-range .min-price, .side-block .filter-price-range .max-price {
  font-size: 1.25em;
  position: absolute;
  position: relative;
  display: inline-block;
}
/* line 639, ../sass/main.scss */
.side-block .filter-price-range .min-price .amount, .side-block .filter-price-range .max-price .amount {
  margin-left: 5px;
}
/* line 643, ../sass/main.scss */
.side-block .filter-price-range .min-price {
  left: 0;
}
/* line 645, ../sass/main.scss */
.side-block .filter-price-range .min-price:before {
  position: absolute;
  content: 'RM';
  left: 0;
}
/* line 650, ../sass/main.scss */
.side-block .filter-price-range .min-price .amount {
  padding-left: 30px;
}
/* line 654, ../sass/main.scss */
.side-block .filter-price-range .max-price {
  right: 0;
}
/* line 656, ../sass/main.scss */
.side-block .filter-price-range .max-price:before {
  position: absolute;
  content: 'RM';
  left: -4px;
}
/* line 661, ../sass/main.scss */
.side-block .filter-price-range .max-price .amount {
  padding-left: 25px;
}
/* line 664, ../sass/main.scss */
.side-block .filter-price-range .ui-slider {
  background-color: #d2d2d2;
  height: 3px;
}
/* line 667, ../sass/main.scss */
.side-block .filter-price-range .ui-slider .ui-slider-handle {
  background: #ffffff;
  border: 1px solid #bababa;
  box-shadow: 0 1px 3px #ddd;
  float: left;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -14px;
  outline: none;
  position: absolute;
}
/* line 681, ../sass/main.scss */
.side-block .filter-price-range .ui-slider-range {
  position: absolute;
  background-color: #4abaaa;
  height: inherit;
  border: 0;
}
/* line 687, ../sass/main.scss */
.side-block .filter-price-range .range-box {
  margin: 7% 2% 10% 2%;
}

/* line 693, ../sass/main.scss */
.filter-selects .reset-filters {
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  color: #333333;
  display: block;
  margin: 0;
}
/* line 701, ../sass/main.scss */
.filter-selects .btn {
  -moz-box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

/* line 707, ../sass/main.scss */
#simple-menu {
  top: 7px;
  left: 20px;
  font-size: 25px;
  color: #3f4d65;
  position: absolute;
}

/* line 714, ../sass/main.scss */
.sidr {
  background: white !important;
  color: #8691a5 !important;
  box-shadow: none !important;
}
/* line 718, ../sass/main.scss */
.sidr .logo {
  position: relative !important;
  height: 50px !important;
  left: 0 !important;
}
/* line 722, ../sass/main.scss */
.sidr .logo #sidr-close {
  top: 0;
  right: 20px;
  font-size: 18px;
  color: #3f4d65;
  position: absolute;
}
/* line 729, ../sass/main.scss */
.sidr .logo .logo-mobile-menu {
  height: 50px !important;
  line-height: 50px !important;
  position: absolute;
}
/* line 733, ../sass/main.scss */
.sidr .logo .logo-mobile-menu .logo-mobile-menu-img {
  width: 60% !important;
}
/* line 739, ../sass/main.scss */
.sidr ul li {
  display: block !important;
  border: none !important;
}
/* line 742, ../sass/main.scss */
.sidr ul li a {
  line-height: 33px !important;
  color: #8691a5 !important;
  font-size: 17px !important;
  font-weight: 400 !important;
  padding: 8px 15px !important;
}
/* line 750, ../sass/main.scss */
.sidr ul .speedrent__footer-sub-title {
  width: 100%;
  cursor: pointer;
}
/* line 756, ../sass/main.scss */
.sidr .speedrent__social-box {
  padding: 0 15px !important;
  overflow: hidden;
}
/* line 759, ../sass/main.scss */
.sidr .speedrent__social-box img {
  height: 27px !important;
  margin: 0 20px 0 0;
}

/* line 767, ../sass/main.scss */
.listing-page {
  overflow: hidden;
}
/* line 769, ../sass/main.scss */
.listing-page .navbar-fixed-top {
  display: none;
}
/* line 770, ../sass/main.scss */
.listing-page .navbar-fixed-top .navbar-brand {
  background-color: #3f4d65;
}
@media (max-width: 1169px) {
  /* line 769, ../sass/main.scss */
  .listing-page .navbar-fixed-top {
    display: block;
    background-color: white;
    height: 50px;
    padding: 0 !important;
  }
}
/* line 780, ../sass/main.scss */
.listing-page .navbar-fixed-top .logo {
  top: -17px;
}
@media (max-width: 1169px) {
  /* line 780, ../sass/main.scss */
  .listing-page .navbar-fixed-top .logo {
    position: absolute;
    left: 45%;
  }
}
@media (max-width: 1169px) {
  /* line 787, ../sass/main.scss */
  .listing-page .navbar-fixed-top .logo a img {
    width: 38%;
  }
}
/* line 795, ../sass/main.scss */
.listing-page .navbar-fixed-top .search-icon {
  right: 21%;
  top: 26%;
  position: absolute;
}
/* line 800, ../sass/main.scss */
.listing-page .navbar-fixed-top .close-icon {
  position: absolute;
  right: 21%;
  top: 26%;
}
/* line 806, ../sass/main.scss */
.listing-page .top-nav-collapse {
  height: 80px;
  line-height: 80px;
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}
@media (max-width: 1169px) {
  /* line 806, ../sass/main.scss */
  .listing-page .top-nav-collapse {
    height: 50px;
  }
}
/* line 815, ../sass/main.scss */
.listing-page .top-nav-collapse #simple-menu {
  top: -15px;
  left: 20px;
}
@media (max-width: 1169px) {
  /* line 819, ../sass/main.scss */
  .listing-page .top-nav-collapse .show-when-collapse {
    margin-left: 0;
  }
}
/* line 824, ../sass/main.scss */
.listing-page .top-nav-collapse .search-icon {
  color: #b3b9be;
  position: absolute;
  right: 21%;
  top: 29%;
}
/* line 829, ../sass/main.scss */
.listing-page .top-nav-collapse .search-icon.active {
  color: #3b99fc;
}
/* line 833, ../sass/main.scss */
.listing-page .top-nav-collapse .logo {
  top: -17px;
}
@media (max-width: 1169px) {
  /* line 833, ../sass/main.scss */
  .listing-page .top-nav-collapse .logo {
    position: absolute;
    left: 45%;
  }
}
@media (max-width: 1169px) {
  /* line 839, ../sass/main.scss */
  .listing-page .top-nav-collapse .logo img {
    padding-left: 0;
  }
}
/* line 844, ../sass/main.scss */
.listing-page .top-nav-collapse .logo .show-when-collapse {
  display: inline-block !important;
}
/* line 848, ../sass/main.scss */
.listing-page .top-nav-collapse .btn-white {
  margin: 20px 10px 20px 0;
}
/* line 852, ../sass/main.scss */
.listing-page .logo {
  height: 80px;
  display: inline-block;
}
/* line 855, ../sass/main.scss */
.listing-page .logo a {
  line-height: 80px;
  height: 80px;
}
/* line 858, ../sass/main.scss */
.listing-page .logo a img {
  width: 60%;
  vertical-align: middle;
  max-height: 80px;
  display: inline-block;
  margin-left: 20px;
}
/* line 867, ../sass/main.scss */
.listing-page .speedrent__social-box {
  margin: 0;
}
/* line 870, ../sass/main.scss */
.listing-page .navbar-header {
  width: 100%;
  padding: 10px 0;
}
/* line 874, ../sass/main.scss */
.listing-page .search-box {
  height: 80px;
}
/* line 876, ../sass/main.scss */
.listing-page .search-box .search-icon {
  color: #b3b9be;
}
/* line 878, ../sass/main.scss */
.listing-page .search-box .search-icon.active {
  color: #3b99fc;
}
/* line 882, ../sass/main.scss */
.listing-page .search-box .material-icons.prefix {
  top: 11px;
  left: 30px;
}
/* line 887, ../sass/main.scss */
.listing-page .search-box .input-field label {
  left: 25px;
}
/* line 889, ../sass/main.scss */
.listing-page .search-box .input-field label.active {
  color: #3b99fc;
}
/* line 894, ../sass/main.scss */
.listing-page .search-box #icon_prefix {
  border-bottom: none;
}
/* line 898, ../sass/main.scss */
.listing-page .speedrent__social-box {
  line-height: 80px;
}
/* line 900, ../sass/main.scss */
.listing-page .speedrent__social-box img {
  height: 35px;
  vertical-align: middle;
  max-height: 80px;
  display: inline-block;
}
/* line 907, ../sass/main.scss */
.listing-page .listing-content-block {
  background-color: #f9f9f9;
  padding: 20px;
}
@media (max-width: 1169px) {
  /* line 907, ../sass/main.scss */
  .listing-page .listing-content-block {
    margin-top: 40px;
    padding: 40px 0 20px 0;
  }
}
/* line 914, ../sass/main.scss */
.listing-page .listing-content-block h6 {
  margin-bottom: 30px;
  font-weight: 700;
}
@media (max-width: 1169px) {
  /* line 914, ../sass/main.scss */
  .listing-page .listing-content-block h6 {
    padding-left: 20px;
  }
}
/* line 920, ../sass/main.scss */
.listing-page .listing-content-block h6 span {
  font-weight: 300;
}
/* line 924, ../sass/main.scss */
.listing-page .listing-content-block .filter {
  position: fixed;
  z-index: 1;
  right: 12px;
  bottom: 3px;
  background-color: #fcdd32;
}
/* line 930, ../sass/main.scss */
.listing-page .listing-content-block .filter img {
  width: 70px;
  height: 70px;
}
/* line 935, ../sass/main.scss */
.listing-page .listing-content-block .card {
  cursor: pointer;
  box-shadow: none;
  overflow: visible;
}
/* line 940, ../sass/main.scss */
.listing-page .listing-content-block .card-image {
  position: relative;
}
/* line 942, ../sass/main.scss */
.listing-page .listing-content-block .card-image .label-distance {
  position: absolute;
  left: 0;
  top: 44px;
  background-color: #fa4a84;
  z-index: 1;
  font-size: 14px;
}
/* line 951, ../sass/main.scss */
.listing-page .listing-content-block .card-title {
  width: 100% !important;
}
/* line 953, ../sass/main.scss */
.listing-page .listing-content-block .card-title .hot-deal {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  background-color: #8a2ffb;
  padding-left: 32px;
}
/* line 959, ../sass/main.scss */
.listing-page .listing-content-block .card-title .hot-deal:before {
  background-image: url("../img/card-label-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 14px;
  width: 14px;
  display: block;
  content: '';
  position: absolute;
  left: 10px;
  top: 3px;
}
/* line 973, ../sass/main.scss */
.listing-page .listing-content-block .card-content {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 975, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price {
  font-weight: 700;
}
/* line 978, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price-info {
  color: #fa4a84;
  font-weight: 400;
}
/* line 982, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price-description {
  margin-bottom: 0;
}
/* line 984, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price-description li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #5d5d5d;
}
/* line 988, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-price-description img {
  height: 20px;
}
/* line 992, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-included-content {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 18px 0;
}
/* line 995, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-included-content li {
  margin-right: 10px;
}
/* line 997, ../sass/main.scss */
.listing-page .listing-content-block .card-content .card-included-content li img {
  margin-left: 10px;
}
/* line 1004, ../sass/main.scss */
.listing-page .speedrent__footer-sub-title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 9%;
}
/* line 1008, ../sass/main.scss */
.listing-page .listing-footer {
  padding-left: 2%;
  padding-right: 2%;
}

/* line 1015, ../sass/main.scss */
.listing-page-single .speedrent__social-box {
  display: inline-block;
  float: right;
}
/* line 1019, ../sass/main.scss */
.listing-page-single .listing-content-block {
  padding: 0 20px 2px 0;
}
@media (max-width: 1169px) {
  /* line 1019, ../sass/main.scss */
  .listing-page-single .listing-content-block {
    padding-right: 0;
  }
}
/* line 1024, ../sass/main.scss */
.listing-page-single .listing-content-block .card {
  margin-bottom: 0;
  box-shadow: none;
  margin-top: 0;
}
/* line 1029, ../sass/main.scss */
.listing-page-single .listing-content-block .card .card-content .card-price {
  text-decoration: line-through;
}
/* line 1033, ../sass/main.scss */
.listing-page-single .listing-content-block .card .card-content .card-included-content li {
  line-height: 30px;
  margin-right: 40px;
}
/* line 1036, ../sass/main.scss */
.listing-page-single .listing-content-block .card .card-content .card-included-content li img {
  margin: 0 10px 0 0;
}
/* line 1042, ../sass/main.scss */
.listing-page-single .listing-content-block .card .card-title {
  width: inherit;
  bottom: -84px;
  left: -190px;
  text-align: left;
}
/* line 1049, ../sass/main.scss */
.listing-page-single .listing-content-block .card-details {
  padding: 0 20px;
  background-color: #f5f5f5;
}
/* line 1052, ../sass/main.scss */
.listing-page-single .listing-content-block .card-details h6 {
  color: #a0a0a0;
  font-weight: 300;
  font-size: 20px;
  margin-top: 0;
  padding-top: 10px;
}
@media (max-width: 1169px) {
  /* line 1052, ../sass/main.scss */
  .listing-page-single .listing-content-block .card-details h6 {
    padding-left: 0;
    margin: 10px 0;
  }
}
/* line 1063, ../sass/main.scss */
.listing-page-single .listing-content-block .card-details p {
  color: #383836;
  font-size: 15px;
}
/* line 1067, ../sass/main.scss */
.listing-page-single .listing-content-block .card-details .divider {
  border-color: #cfcfcf;
}
/* line 1073, ../sass/main.scss */
.listing-page-single .search-box-list-single a {
  color: #3f4d65;
  font-weight: 700;
  line-height: 80px;
  margin: 0;
  padding-left: 20px;
}
/* line 1081, ../sass/main.scss */
.listing-page-single .furnishing-block {
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* accessibility */
  /* hover style just for information */
}
/* line 1082, ../sass/main.scss */
.listing-page-single .furnishing-block label {
  font-weight: 300;
  margin-left: 20px;
  font-size: 14px;
}
@media (max-width: 1169px) {
  /* line 1082, ../sass/main.scss */
  .listing-page-single .furnishing-block label {
    font-size: 12px;
  }
}
/* line 1091, ../sass/main.scss */
.listing-page-single .furnishing-block [type="checkbox"]:not(:checked),
.listing-page-single .furnishing-block [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
/* line 1096, ../sass/main.scss */
.listing-page-single .furnishing-block [type="checkbox"]:not(:checked) + label,
.listing-page-single .furnishing-block [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  line-height: 30px;
}
@media (max-width: 1169px) {
  /* line 1096, ../sass/main.scss */
  .listing-page-single .furnishing-block [type="checkbox"]:not(:checked) + label,
  .listing-page-single .furnishing-block [type="checkbox"]:checked + label {
    margin-left: 0;
  }
}
/* line 1107, ../sass/main.scss */
.listing-page-single .furnishing-block [type="checkbox"]:not(:checked) + label:before {
  content: '✓';
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: white;
  transition: all .2s;
  background-color: #e9e9e9;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  padding: 4px 3px 3px 3px;
  box-shadow: none;
  border: none;
}
/* line 1125, ../sass/main.scss */
.listing-page-single .furnishing-block [type="checkbox"]:checked + label:after {
  content: '✓';
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: white;
  transition: all .2s;
  background-color: #36AD9A;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  padding: 4px 3px 3px 3px;
}
/* line 1141, ../sass/main.scss */
.listing-page-single .furnishing-block [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
/* line 1145, ../sass/main.scss */
.listing-page-single .furnishing-block [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* line 1152, ../sass/main.scss */
.listing-page-single .furnishing-block [type="checkbox"]:checked:focus + label:before:active,
.listing-page-single .furnishing-block [type="checkbox"]:not(:checked):focus + label:before:active {
  background-color: #3b99fc;
}
/* line 1158, ../sass/main.scss */
.listing-page-single .furnishing-block label:hover:before {
  border: 1px solid #e9e9e9 !important;
}
/* line 1162, ../sass/main.scss */
.listing-page-single .map {
  background-color: white;
  margin-bottom: 3px;
}
/* line 1165, ../sass/main.scss */
.listing-page-single .map h5 {
  padding: 20px;
  color: #a0a0a0;
  margin-top: 0;
}
/* line 1170, ../sass/main.scss */
.listing-page-single .map iframe {
  width: 100%;
  height: 200px;
  border: none;
}
/* line 1175, ../sass/main.scss */
.listing-page-single .map .report {
  color: #f8b13f;
  padding: 20px;
  display: block;
  font-size: 17px;
}
/* line 1183, ../sass/main.scss */
.listing-page-single .listing-single-side-form p {
  color: #8d8d8d;
  font-size: 14px;
}
/* line 1187, ../sass/main.scss */
.listing-page-single .listing-single-side-form input {
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 34px;
  background-color: white;
  margin: 10px 0 20px 0;
  padding-left: 10px;
  box-sizing: border-box;
}
/* line 1196, ../sass/main.scss */
.listing-page-single .listing-single-side-form input[type=text]:focus:not([readonly]) {
  border: 1px solid #4285F4;
}
/* line 1199, ../sass/main.scss */
.listing-page-single .listing-single-side-form label {
  left: 0;
  font-size: 13px;
  font-weight: 400;
}
/* line 1204, ../sass/main.scss */
.listing-page-single .listing-single-side-form .tenant-select {
  margin: 10px 0;
  height: 36px;
}
/* line 1208, ../sass/main.scss */
.listing-page-single .listing-single-side-form .tenant-label {
  position: absolute;
  top: -14px;
}
/* line 1212, ../sass/main.scss */
.listing-page-single .listing-single-side-form select {
  margin-bottom: 30px;
}
/* line 1215, ../sass/main.scss */
.listing-page-single .listing-single-side-form .choice-offer {
  margin: 10px 0;
}
/* line 1217, ../sass/main.scss */
.listing-page-single .listing-single-side-form .choice-offer label {
  padding: 0 32px;
}
/* line 1221, ../sass/main.scss */
.listing-page-single .listing-single-side-form .btn-yellow {
  background-color: #fddf00;
  color: #333333;
  font-weight: 700;
  line-height: 40px;
  font-size: 18px;
  margin-left: 0;
  margin-right: 0;
}
/* line 1230, ../sass/main.scss */
.listing-page-single .listing-single-side-form .submit {
  margin: 31px 0 0 0;
  line-height: 27px;
}
/* line 1236, ../sass/main.scss */
.listing-page-single .chat-btn img {
  width: 30px !important;
  height: 30px !important;
  left: 13px;
  position: absolute;
  top: 14px;
}

/* line 1248, ../sass/main.scss */
.post .navbar-fixed-top {
  height: 80px;
  background-color: white;
  box-shadow: none;
}
@media (max-width: 1169px) {
  /* line 1248, ../sass/main.scss */
  .post .navbar-fixed-top {
    height: 50px;
    padding: 0;
  }
}
/* line 1256, ../sass/main.scss */
.post .navbar-fixed-top .logo-desktop {
  width: 16%;
  margin-left: 20px;
}
/* line 1260, ../sass/main.scss */
.post .navbar-fixed-top .logo-mobile {
  position: absolute;
  left: 44%;
  height: 50px;
  display: inline-block;
  top: 3px;
}
/* line 1266, ../sass/main.scss */
.post .navbar-fixed-top .logo-mobile img {
  width: 40%;
  margin-left: 20px;
}
/* line 1271, ../sass/main.scss */
.post .navbar-fixed-top .speedrent__social-box {
  position: absolute;
  margin: 10px 0;
  right: 0;
  top: 10px;
}
/* line 1276, ../sass/main.scss */
.post .navbar-fixed-top .speedrent__social-box img {
  height: 35px;
}
/* line 1280, ../sass/main.scss */
.post .navbar-fixed-top .back-btn {
  line-height: 50px;
  color: #4fbaab;
  margin-left: 20px;
  font-weight: 700;
}
/* line 1290, ../sass/main.scss */
.post .top-nav-collapse {
  height: 80px;
  padding: 10px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 1169px) {
  /* line 1290, ../sass/main.scss */
  .post .top-nav-collapse {
    height: 50px;
    padding: 0;
  }
}
/* line 1296, ../sass/main.scss */
.post .top-nav-collapse .back-btn {
  line-height: 50px;
  color: #4fbaab;
  margin-left: 20px;
  font-weight: 700;
}

/* line 1306, ../sass/main.scss */
.post-steps {
  background-color: #f9f9f9;
  margin-top: 80px;
}
@media (max-width: 1169px) {
  /* line 1306, ../sass/main.scss */
  .post-steps {
    margin-top: 50px;
  }
}
/* line 1313, ../sass/main.scss */
.post-steps .input-field label {
  top: -18px;
}
/* line 1316, ../sass/main.scss */
.post-steps .input-field label.active {
  top: 10px;
  color: #4285F4;
}
@media (max-width: 1169px) {
  /* line 1321, ../sass/main.scss */
  .post-steps .container {
    padding: 0;
  }
}
/* line 1326, ../sass/main.scss */
.post-steps .wizard {
  padding: 10px;
}
/* line 1328, ../sass/main.scss */
.post-steps .wizard .title {
  display: none;
}
/* line 1331, ../sass/main.scss */
.post-steps .wizard .actions {
  margin-top: 20px;
}
/* line 1333, ../sass/main.scss */
.post-steps .wizard .actions ul {
  overflow: hidden;
}
/* line 1336, ../sass/main.scss */
.post-steps .wizard .actions .disabled {
  display: none;
}
/* line 1339, ../sass/main.scss */
.post-steps .wizard .actions li {
  text-align: center;
  width: 50%;
  float: left;
  padding: 0 5px;
}
/* line 1344, ../sass/main.scss */
.post-steps .wizard .actions li a {
  margin-bottom: 20px;
  line-height: 40px;
  display: inline-block;
  color: #333333;
  font-weight: 700;
  font-size: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px;
  border: none;
  background-color: #fddf00;
  width: 100%;
}
/* line 1360, ../sass/main.scss */
.post-steps .steps {
  margin-top: 10px;
  padding: 0 5px;
}
/* line 1363, ../sass/main.scss */
.post-steps .steps ul {
  border: 1px solid #d8d8d8;
  overflow: hidden;
  list-style: none;
  border-radius: 10px;
  height: 66px;
  background-color: white;
  margin-bottom: 20px;
}
/* line 1371, ../sass/main.scss */
.post-steps .steps ul li {
  float: left;
  width: 33.3% !important;
  text-align: right;
  border-width: 0;
  border-radius: 0;
  line-height: 38px;
}
/* line 1378, ../sass/main.scss */
.post-steps .steps ul li a {
  color: white;
  text-decoration: none;
  padding: 1em 1.5em;
  position: relative;
  display: block;
  float: left;
  height: 66px;
  margin: 0;
  width: 100%;
  border-width: 0;
  border-radius: 0;
  color: #3f4d65;
  text-transform: uppercase;
  outline: none;
  font-size: 13px;
  line-height: 38px;
  font-weight: 700;
}
/* line 1396, ../sass/main.scss */
.post-steps .steps ul li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 49px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 49px solid transparent;
  border-left: 31px solid #d9d9d9;
  position: absolute;
  top: 50%;
  margin-top: -49px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
/* line 1411, ../sass/main.scss */
.post-steps .steps ul li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 49px solid transparent;
  border-bottom: 49px solid transparent;
  border-left: 31px solid white;
  position: absolute;
  top: 50%;
  margin-top: -49px;
  margin-left: -1px;
  left: 100%;
  z-index: 2;
}
/* line 1427, ../sass/main.scss */
.post-steps .steps ul li.current a:before, .post-steps .steps ul li.done a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 49px solid transparent;
  border-bottom: 49px solid transparent;
  border-left: 31px solid #fddf00;
  position: absolute;
  top: 50%;
  margin-top: -49px;
  left: 100%;
  z-index: 2;
}
/* line 1441, ../sass/main.scss */
.post-steps .steps ul li.last a:before, .post-steps .steps ul li.last a:after {
  display: none;
}
/* line 1444, ../sass/main.scss */
.post-steps .steps ul li.done a:before {
  border-left-color: #fddf00;
}
/* line 1447, ../sass/main.scss */
.post-steps .steps ul li.done a:after, .post-steps .steps ul li.current a:after {
  border-left-color: #f2d500;
}
/* line 1452, ../sass/main.scss */
.post-steps .steps .current, .post-steps .steps .done {
  background: #fddf00 !important;
}
/* line 1454, ../sass/main.scss */
.post-steps .steps .current a, .post-steps .steps .done a {
  background: #fddf00 !important;
}
/* line 1456, ../sass/main.scss */
.post-steps .steps .current a .current-info, .post-steps .steps .done a .current-info {
  display: none;
}
/* line 1462, ../sass/main.scss */
.post-steps .steps .disabled a, .post-steps .steps .disabled.last a {
  background: white !important;
}
/* line 1467, ../sass/main.scss */
.post-steps h6 {
  color: #3f4d65;
  margin-bottom: 26px;
}
/* line 1470, ../sass/main.scss */
.post-steps h6 .text-md-size {
  font-size: 20px;
}
/* line 1474, ../sass/main.scss */
.post-steps .side__filter-title {
  color: #b3b9be;
  font-weight: 700;
  margin-bottom: 40px;
}
@media (max-width: 1169px) {
  /* line 1474, ../sass/main.scss */
  .post-steps .side__filter-title {
    margin-bottom: 20px;
  }
}
/* line 1482, ../sass/main.scss */
.post-steps .input-field {
  position: relative;
}
/* line 1484, ../sass/main.scss */
.post-steps .input-field label {
  color: #8d8d8d;
  font-size: 14px;
  padding-left: 5px;
  font-weight: 400;
}
/* line 1490, ../sass/main.scss */
.post-steps .input-field span {
  position: absolute;
  right: 25px;
  color: #333333;
  top: 16px;
}
/* line 1497, ../sass/main.scss */
.post-steps input {
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 34px;
  background-color: white;
  margin: 10px 0 20px 0;
  padding-left: 10px;
  box-sizing: border-box;
}
/* line 1506, ../sass/main.scss */
.post-steps input[type=text]:focus:not([readonly]) {
  border: 1px solid #4285F4;
}
/* line 1509, ../sass/main.scss */
.post-steps .discount {
  background-color: #fae2ee;
  color: #3e4d65;
  padding: 20px;
  margin-top: 40px;
}
/* line 1514, ../sass/main.scss */
.post-steps .discount p {
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}
/* line 1519, ../sass/main.scss */
.post-steps .discount a {
  text-transform: uppercase;
  color: #ff1a8b;
  font-weight: 700;
  display: block;
  text-decoration: underline;
}
/* line 1527, ../sass/main.scss */
.post-steps .steps-filter-selects {
  background-color: white;
  border: 1px solid #eeeeee;
  padding: 20px;
}
/* line 1532, ../sass/main.scss */
.post-steps .prev, .post-steps .next, .post-steps .submit {
  line-height: 40px;
  color: #333333;
  font-weight: 700;
  font-size: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 100px;
  border: none;
}
/* line 1541, ../sass/main.scss */
.post-steps .next, .post-steps .submit {
  background-color: #fddf00;
}
/* line 1544, ../sass/main.scss */
.post-steps .prev {
  background-color: white;
  border: 1px solid #d9d9d9;
}
/* line 1548, ../sass/main.scss */
.post-steps .easyWizardButtons {
  margin-bottom: 20px;
}
@media (max-width: 1169px) {
  /* line 1548, ../sass/main.scss */
  .post-steps .easyWizardButtons {
    display: inline-block;
  }
}

/* line 1555, ../sass/main.scss */
.listing-footer {
  padding-left: 2%;
  padding-right: 2%;
}

/* line 1560, ../sass/main.scss */
#steps-basic .body {
  position: relative;
}
@media (max-width: 1169px) {
  /* line 1560, ../sass/main.scss */
  #steps-basic .body {
    width: 100% !important;
  }
}
/* line 1566, ../sass/main.scss */
#steps-basic .content {
  background-color: transparent;
}
@media (max-width: 1169px) {
  /* line 1566, ../sass/main.scss */
  #steps-basic .content {
    margin: 0;
  }
}
/* line 1572, ../sass/main.scss */
#steps-basic .steps {
  display: none;
}
@media (max-width: 1169px) {
  /* line 1572, ../sass/main.scss */
  #steps-basic .steps {
    display: block;
  }
}
/* line 1579, ../sass/main.scss */
#steps-basic .upload-files .upload-item {
  margin: 0 4% 4% 0;
  background-color: white;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
@media (max-width: 1169px) {
  /* line 1579, ../sass/main.scss */
  #steps-basic .upload-files .upload-item {
    margin: 2%;
    padding: 3%;
  }
}
/* line 1589, ../sass/main.scss */
#steps-basic .upload-files .upload-item input {
  display: none;
}
/* line 1592, ../sass/main.scss */
#steps-basic .upload-files .upload-item img {
  width: 85%;
}
/* line 1598, ../sass/main.scss */
#steps-basic .upload-files .upload-item label {
  text-align: center;
  padding: 10px;
}
@media (max-width: 1169px) {
  /* line 1598, ../sass/main.scss */
  #steps-basic .upload-files .upload-item label {
    padding: 10%;
  }
}
/* line 1604, ../sass/main.scss */
#steps-basic .upload-files .upload-item label i {
  font-size: 20px;
}
/* line 1610, ../sass/main.scss */
#steps-basic .photo-guide-box {
  text-align: center;
  padding-top: 9%;
  overflow: hidden;
}
@media (max-width: 1169px) {
  /* line 1610, ../sass/main.scss */
  #steps-basic .photo-guide-box {
    padding-top: 0;
  }
}
/* line 1617, ../sass/main.scss */
#steps-basic .photo-guide-box h5, #steps-basic .photo-guide-box p {
  font-weight: 400;
  color: #8d8d8d;
}
/* line 1621, ../sass/main.scss */
#steps-basic .photo-guide-box p {
  font-size: medium;
}
@media (max-width: 1169px) {
  /* line 1621, ../sass/main.scss */
  #steps-basic .photo-guide-box p {
    font-size: small;
    line-height: normal;
    margin-top: 10px;
  }
}
@media (max-width: 1169px) {
  /* line 1630, ../sass/main.scss */
  #steps-basic .photo-guide-box ul li {
    width: 33.3%;
    float: left;
  }
}
/* line 1635, ../sass/main.scss */
#steps-basic .photo-guide-box ul li img {
  width: 12%;
}
@media (max-width: 1169px) {
  /* line 1635, ../sass/main.scss */
  #steps-basic .photo-guide-box ul li img {
    width: 23%;
  }
}
/* line 1645, ../sass/main.scss */
#steps-basic .extra-info .label-benefit {
  background-color: #8a2ffb;
  margin-left: 10px;
  font-size: 13px;
}
/* line 1652, ../sass/main.scss */
#steps-basic .extra-info .checkbox-wrap label span {
  left: 36px;
  top: 4px;
  font-size: 15px;
  color: black;
  font-weight: 400;
}
/* line 1661, ../sass/main.scss */
#steps-basic .extra-info .extra-info-select {
  top: -15px;
}
/* line 1664, ../sass/main.scss */
#steps-basic .extra-info .form-control {
  margin-top: 11px;
}
/* line 1667, ../sass/main.scss */
#steps-basic .extra-info .guarantee {
  background-color: #eee4f9;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 1672, ../sass/main.scss */
#steps-basic .extra-info .guarantee h6 {
  margin-bottom: 6px;
}
/* line 1674, ../sass/main.scss */
#steps-basic .extra-info .guarantee h6 span {
  margin-right: 10px;
}
/* line 1678, ../sass/main.scss */
#steps-basic .extra-info .guarantee .learn-more {
  color: #8a2ffb;
}
/* line 1682, ../sass/main.scss */
#steps-basic .extra-info .sub-title {
  font-size: 15px;
  color: #8d8d8d;
}
/* line 1686, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block {
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* accessibility */
  /* hover style just for information */
}
/* line 1687, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block h6 {
  color: #8d8d8d;
}
/* line 1690, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block label {
  font-weight: 300;
  font-size: 14px;
  margin-left: 15px;
}
@media (max-width: 1169px) {
  /* line 1690, ../sass/main.scss */
  #steps-basic .extra-info .furnishing-block label {
    font-size: 12px;
  }
}
/* line 1699, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block [type="checkbox"]:not(:checked),
#steps-basic .extra-info .furnishing-block [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
/* line 1704, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block [type="checkbox"]:not(:checked) + label,
#steps-basic .extra-info .furnishing-block [type="checkbox"]:checked + label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
  line-height: 30px;
}
@media (max-width: 1169px) {
  /* line 1704, ../sass/main.scss */
  #steps-basic .extra-info .furnishing-block [type="checkbox"]:not(:checked) + label,
  #steps-basic .extra-info .furnishing-block [type="checkbox"]:checked + label {
    margin-left: 0;
  }
}
/* line 1715, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block [type="checkbox"]:not(:checked) + label:before {
  content: '✓';
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: white;
  transition: all .2s;
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  padding: 5px;
}
/* line 1732, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block [type="checkbox"]:checked + label:after {
  content: '✓';
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: white;
  transition: all .2s;
  background-color: #36AD9A;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  padding: 5px;
}
/* line 1748, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
/* line 1752, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* line 1759, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block [type="checkbox"]:checked:focus + label:before:active,
#steps-basic .extra-info .furnishing-block [type="checkbox"]:not(:checked):focus + label:before:active {
  background-color: #3b99fc;
}
/* line 1765, ../sass/main.scss */
#steps-basic .extra-info .furnishing-block label:hover:before {
  border: 1px solid #e9e9e9 !important;
}

/* line 1774, ../sass/main.scss */
#post-thank-you {
  background-color: #f9f9f9;
}

/* line 1778, ../sass/main.scss */
.post-thank-you .empty-header {
  height: 90px;
  background-color: white;
  margin-bottom: 50px;
}
@media (max-width: 1169px) {
  /* line 1778, ../sass/main.scss */
  .post-thank-you .empty-header {
    height: 70px;
  }
}
/* line 1786, ../sass/main.scss */
.post-thank-you .divider {
  border-top: 1px solid #dddddd;
  width: 50%;
  margin: 0 auto;
}
/* line 1791, ../sass/main.scss */
.post-thank-you h1 {
  color: #4abbab;
  font-weight: 400;
}
/* line 1795, ../sass/main.scss */
.post-thank-you h4 {
  color: #8d8d8d;
}
/* line 1798, ../sass/main.scss */
.post-thank-you .btn-facebook {
  background-color: #3a5ba2;
  color: white;
  text-transform: uppercase;
  padding: 5px 60px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 1804, ../sass/main.scss */
.post-thank-you .btn-facebook .fa-facebook {
  margin-right: 5px;
}
/* line 1808, ../sass/main.scss */
.post-thank-you ul {
  overflow: hidden;
}
/* line 1810, ../sass/main.scss */
.post-thank-you ul li {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 0 20px;
}
